.EmergencyAlertBanner {
	width: 751px;
	height: 86px;
}

/* These styles apply to the quirks mosde issue for IE as relates to the columns on the Bulletin home page */
.cancer-bulletin-home-page {
	width: 771px;
}
.cancer-bulletin-home-page-left-column {
	width: 449px;
}
.bulletin-header-bottom-right {
	height: 20px;
}
/* end These styles apply to the quirks mosde issue for IE as relates to the columns on the Bulletin home page */
