	/* This is for the object the menu is for */


div.ctxMenu.ctxMenu-Blue ul li div {
	background-image: url(<%= WebResource("NCI.Web.UI.WebControls.Menus.Resources.ContextMenu.Blue-DownArrow-off.gif")%>);
	background-repeat: no-repeat;
	background-position: top left;
	background-color: inherit;
	color: inherit;	
}

div.ctxMenu.ctxMenu-Blue ul.show li div,
div.ctxMenu.ctxMenu-Blue ul.hover li div {
   background-image: url(<%= WebResource("NCI.Web.UI.WebControls.Menus.Resources.ContextMenu.Blue-DownArrow-on.gif")%>);
   background-color: #F7F6F3;
   border:1px solid #284775;
   color: #284775;
}
/* End object style */

/* This is the menu */
div.ctxMenu.ctxMenu-Blue ul li ul{
	/* Left Hand Icon Area */
	background-image: url(<%= WebResource("NCI.Web.UI.WebControls.Menus.Resources.ContextMenu.Blue-menu-bckgrnd.gif")%>);
	background-repeat: repeat-y;
	background-position: left;
	background-color: #F7F6F3; /* Background of menu item area */
	border: 1px solid #284775; /* Border around menu */
	border-top: none;
}

div.ctxMenu.ctxMenu-Blue ul li ul li a,
div.ctxMenu.ctxMenu-Blue ul li ul li a:link,
div.ctxMenu.ctxMenu-Blue ul li ul li a:visited,
div.ctxMenu.ctxMenu-Blue ul li ul li a:focus
{
	color: #284775;
}

div.ctxMenu.ctxMenu-Blue ul li ul li a:hover
{
	color: #ffffff;
	background-color: #5D7B9D; /* Background of hovering block */
	border: 1px solid #284775; /* Border of hovering block */
}


/* End menu style */
