	/* This is for the object the menu is for */
div.ctxMenu {
    /* width: 300px; */
    margin: 0;
    padding: 0;
}
div.ctxMenu ul{
	margin: 0;
	padding: 0;
	list-style: none;	
	z-index: 100;	
	width: 100%;	
}

div.ctxMenu ul li {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

div.ctxMenu ul.show li,
div.ctxMenu ul.hover li {
	margin: 0;
}

div.ctxMenu ul li div {
	padding: 4px 4px 4px 17px;
	width: 90%;
	margin: 0;
	
}

div.ctxMenu ul.show li div,
div.ctxMenu ul.hover li div 
{
   cursor:pointer;
   padding: 3px 3px 3px 16px;
}
/* End object style */

/* This is the menu */
div.ctxMenu ul li ul{
	display: none;
	width: 200px;
	padding: 1px 1px 1px 1px;
	margin: 0;
	position: absolute;			
}

div.ctxMenu ul.show li ul {	
	display: block;
}

div.ctxMenu ul li ul li 
{
	margin: 0;
	padding: 0;
	/* width: 119px; */
	width: 198px;
}

div.ctxMenu ul li ul li a,
div.ctxMenu ul li ul li a:link,
div.ctxMenu ul li ul li a:visited,
div.ctxMenu ul li ul li a:focus
{
	display: block;
	padding: 3px 0 3px 30px;
	text-decoration: none;
	width: 168px;
	margin: 1px 1px 1px 1px;
}

div.ctxMenu ul li ul li a:hover
{
	margin: -1px 0px 0px 0px;
	padding: 3px 0px 2px 30px;							
}

div.ctxMenu ul li ul li:first-child a,
div.ctxMenu ul li ul li:first-child a:link,
div.ctxMenu ul li ul li:first-child a:visited,
div.ctxMenu ul li ul li:first-child a:focus			
{
	padding: 3px 0 3px 30px;
	margin: 1px 1px 1px 1px;
}

div.ctxMenu ul li ul li:first-child a:hover
{
	margin: 0;
	padding: 3px 0 2px 30px;
}

div.ctxMenu ul li ul li:last-child a,
div.ctxMenu ul li ul li:last-child a:link,
div.ctxMenu ul li ul li:last-child a:visited,
div.ctxMenu ul li ul li:last-child a:focus
{
	padding: 3px 0 3px 30px;
	 margin: 2px 1px 1px 1px; 
}

div.ctxMenu ul li ul li:last-child a:hover
{	
	/* margin: 0; */
	 margin: 1px 0px 0px 0px; 	
	padding: 3px 0 3px 30px;
}

.ie div.ctxMenu ul li ul li a:hover
{
	margin: 0;
	padding: 3px 0 3px 30px;
}

/* End menu style */
