	/* This is for the object the menu is for */

div.ctxMenu.ctxMenu-Silver ul li div {
	background-image: url(<%= WebResource("NCI.Web.UI.WebControls.Menus.Resources.ContextMenu.Silver-DownArrow-off.gif")%>);
	background-repeat: no-repeat;
	background-position: bottom left;
}

div.ctxMenu.ctxMenu-Silver ul.show li div,
div.ctxMenu.ctxMenu-Silver ul.hover li div {
   background-image: url(<%= WebResource("NCI.Web.UI.WebControls.Menus.Resources.ContextMenu.Silver-DownArrow-on.gif")%>);
   border:1px solid #c3c3c3;
}
/* End object style */

/* This is the menu */
div.ctxMenu.ctxMenu-Silver ul li ul{
	background-image: url(<%= WebResource("NCI.Web.UI.WebControls.Menus.Resources.ContextMenu.Silver-menu-bckgrnd.gif")%>);
	background-repeat: repeat-y;
	background-position: left;
	background-color: #ffffff;
	border: 1px solid #bdbdbd;
	border-top: none;
}

div.ctxMenu.ctxMenu-Silver ul li ul li a,
div.ctxMenu.ctxMenu-Silver ul li ul li a:link,
div.ctxMenu.ctxMenu-Silver ul li ul li a:visited,
div.ctxMenu.ctxMenu-Silver ul li ul li a:focus
{
	color: #000000;
}

div.ctxMenu.ctxMenu-Silver ul li ul li a:hover
{
	background-color: #e3e3e3;
	border: 1px solid #c3c3c3;
}

/* End menu style */
