div.collapsible {
	border: 1px solid #CCC;
	padding:5px 5px 5px 5px;
}

.GridHeader
{
	height: 40px;
	padding: 0px;
	background-color: White;
	font-weight: bold;
	font-size: 14px;
}

.GridHeader.GridHeader-Active
{
	background-color: #d7e3f1;
}

.GridHeader A, .GridHeader SPAN
{
	padding-top: 13px;
	padding-bottom: 13px;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

.GridHeader A:hover
{
	text-decoration: underline;
}
