/******************************************************/
/*                 PRINT VERSION                      */
/* NEW CLASSES FOR SUMMER 2004 REDESIGN OF CANCER.GOV */
/******************************************************/


/* Default font */
BODY, TD, TABLE, P, .text {
	COLOR : #000;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	FONT-SIZE : 15px;
}
div, p, td, ul, ol, li, dl, td, dd, .text /* redundant selectors to help NS4 not forget */ {
	font-family: "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	font-size: 15px;
	color: #000;
	font-weight: normal;
	text-decoration: none;
}

.zerop { margin-bottom: 0; }

/* Content links that need to be gray */
.gray, A.gray, A.gray:active, A.gray:visited, A.gray-link, A.gray-link:visited, A.gray-link:active, A.gray-text, A.gray-text:visited, A.gray-text:active {
	COLOR : #333333;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	FONT-SIZE : 15px;
}
A.gray-link:hover, A.gray-text:hover, A.gray:hover {
	COLOR:#000000;
	TEXT-DECORATION: underline;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* Default text, bolded */
.text-b, .gray-text-b {
	font-weight: bold;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* Portal page titles, not currently being used (images instead) */
.section-title {
	COLOR : #6E6C4F;
	FONT-SIZE : 26px;
	FONT-WEIGHT : none;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* Title in gray bar at top of page right below red header */
.document-title {
	COLOR : #000000;
	FONT-SIZE : 21px;
	FONT-WEIGHT : none;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* Page header at beginning of main content area, replaces H2 */
.page-title, H2, .DrugInfoSummary-SummarySection-Title-Level1 {
	COLOR : #000000;
	FONT-SIZE : 19px;
	FONT-WEIGHT : bold;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* replaces H3 */
.header-A, H3 {
	COLOR : #000000;
	FONT-SIZE : 17px;
	FONT-WEIGHT : bold;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* replaces H4 */
.header-B, H4 {
	COLOR : #000000;
	FONT-SIZE : 16px;
	FONT-WEIGHT : bold;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
.header-C {
	FONT-WEIGHT : bold;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
.header-D {
	FONT-WEIGHT : bold;
	FONT-STYLE : italic;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* deafault links */
A, A:active, A:visited, .red-text {
	COLOR : #9C3303;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
A:hover {
	COLOR : #990000;
	TEXT-DECORATION : underline;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* Back to Top style */
A.backtotop-link, A.backtotop-link:visited, A.backtotop-link:active {
	FONT-SIZE : 13px;
	COLOR:#4d4d4d;
	TEXT-DECORATION: underline;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
A.backtotop-link:hover {
	COLOR:#000000;
	TEXT-DECORATION: underline;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}

h3.popup-definition {
	font-size: 13px;
}

/* list item with no bullets */
ul.generic {padding-left: 0; margin-left: 0;}
ul.generic li {padding-bottom: 10px; margin-left: 0; padding-left: 0; list-style-type:none; list-style-image:none;}
ol.generic li {padding-bottom: 10px; margin-left: 0; padding-left: 0;}

/* end list item with no bullets */

/* list item with bullets */
ul.generic-bullet {}
ul.generic-bullet li {padding-bottom: 10px; margin-left: 0; padding-left: 0; list-style-type:none; list-style:url(/images/bullet_sm_css.gif);}
/* end list item with bullets */

img {
	border: 0;
}
img.right {
	float: right;
	border: 0;
	margin-left: 10px;
	margin-bottom: 10px;
}
img.left {
	float:left;
	border: 0;
	margin-right: 10px;
	margin-bottom: 10px;
}
img.center, .image-center {
	display: block;
	margin-left: auto;
	margin-right: auto
}

ul.toc { margin-top:0; padding-left:8px; margin-left:8px; }
ul.toc li { margin-top:3px; list-style-image:none; list-style-type:none; }

/* pullquote */
.pullquote {
	float: right;
	width: 275px;
	padding: 20px 0px 10px 0px;
	margin: 0 0 5px 5px;
	font: 17px georgia; 
	background:url(/images/pullquote-openquote.gif) no-repeat left 5px;
}
.pullquote-text {
	display: block;
	background: url(/images/pullquote-closequote.gif) no-repeat right bottom;
	padding: 0 30px;
}
/* end pullquote */

.callout-box {
background-color:E5E5E5;border:1px solid #CCC;color:#333;margin:10px 0 10px 0;padding:10px;
}
.tintbox {
	border: 1px solid #bdbdbd;
	padding:0;
	background-color:#f5f5f3;
	margin: 15px 0 15px 0;
}
.tintbox h3 {
	text-align:center;
	color:#4d4d4d;
	padding-top: 10px;
	padding-bottom:10px;
	margin-top:0;
	background-color:#ccc;
	margin-left: -15px;
	margin-right:-15px;
}
.tintbox {
	padding-left: 15px;
	padding-right:15px;
}

.hide {
	display: none;
}


/****** CancerSpace section *********/
ul.steps {
margin: 0;
padding: 0;
}

ul.steps li {
margin: 0;
padding: 0;
height: 48px;
background: none;
list-style: none;
}

ul.steps li a:link,
ul.steps li a:visited,
ul.steps li a:hover,
ul.steps li a:active {
color: #000;
font-family: arial;
font-size: 12px;
text-decoration: none;
}

ul.steps li a.steps-inactive {
background: url(/images/Documents/a199bc3c-eff7-4104-9d1e-543225acebeb/steps-arrow-off.gif) top right no-repeat #eff4fd;  
border-bottom: 1px solid #d1d1d1;
border-right: 1px solid #d1d1d1;
padding: 17px 25px 15px 13px;
margin: 0;
display: block;
list-style: none;
}

ul.steps li a.steps-inactive:hover {
background: url(/images/Documents/a199bc3c-eff7-4104-9d1e-543225acebeb/steps-arrow-hover.gif) top right no-repeat #cbdcf7; 
}

.steps-active {
background: url(/images/Documents/a199bc3c-eff7-4104-9d1e-543225acebeb/steps-arrow-on.gif) top right no-repeat #ffffff; 
font-weight: bold;
border-bottom: 1px solid #d1d1d1;
padding: 17px 25px 15px 13px;
margin: 0;
display: block;
list-style: none;
outline: none;
}

.cs-caption {
background: #666666;
padding: 10px 15px;
color: #ffffff;
font-family: arial;
font-size: 12px;
height: 58px;
}

.cs-hidden { display: none; }
.cs-unhidden { display: block; }
/****** end CancerSpace section *********/


.hr-es {
	color: #d7d7d7; /* IE */
	background-color: #d7d7d7; /* Netscape 6/7, Mozilla */
	border: #d7d7d7; /* Opera */
	height: 1px;
	margin: 15px 0;
	padding: 0;
}
table.table-default {
	border: 1px solid #BDBDBD;
	border-collapse: collapse;
}
table.table-default th {
	border: 1px solid #BDBDBD;
	padding: 2px 4px;
	background-color: #ECECEC;
}
table.table-default td {
	border: 1px solid #BDBDBD;
	padding: 4px 4px;
}

table.table-default-center-td td {
	text-align: center;
}
table.border {
	border: 1px solid #bdbdbd;
	border-collapse: collapse;
}
table.border th {
	border: 1px solid #bdbdbd;
	border-collapse: collapse;
}
table.border td {
	border: 1px solid #bdbdbd;
	border-collapse: collapse;
}
/* Cancer Bulletin New */

.bulletin-header {
	width: 771px;
	height: 85px;
	background-image: url(/images/cancerbulletin/cancerbulletin-header-bg.gif);
	background-repeat: repeat-x;
}
/* end Cancer Bulletin New */


/* Cancer Bulletin Old */

/* Cancer Bulletin Lead Story */
.cancer-bulletin-homepage-story-title {
	COLOR:#B50000;
	FONT-SIZE : 22px;
	TEXT-DECORATION: none;
	FONT-FAMILY : Arial, Verdana, Trebuchet MS, sans-serif;
}
/* Cancer Bulletin Subpage Story */
.cancer-bulletin-subpage-story-title {
	COLOR:#B50000;
	FONT-SIZE : 19px;
	TEXT-DECORATION: none;
	FONT-FAMILY : Arial, Verdana, Trebuchet MS, sans-serif;
}
/* Cancer Bulletin Header Text */
.cancer-bulletin-header-text {
	COLOR:#FFFFFF;
	FONT-SIZE : 11px;
	TEXT-DECORATION: none;
	FONT-FAMILY : Arial, Verdana, Trebuchet MS, sans-serif;
}
A.cancer-bulletin-header-text, A.cancer-bulletin-header-text:link, A.cancer-bulletin-header-text:active, A.cancer-bulletin-header-text:visited {
	COLOR:#FFFFFF;
	FONT-SIZE : 11px;
	TEXT-DECORATION: underline;
	FONT-FAMILY : Arial, Verdana, Trebuchet MS, sans-serif;
}
A.cancer-bulletin-header-text:hover {
	COLOR:#FFFFFF;
	FONT-SIZE : 11px;
	TEXT-DECORATION: underline;
	FONT-FAMILY : Arial, Verdana, Trebuchet MS, sans-serif;
}
/* end Cancer Bulletin Old */

/* Definition links within the content are supposed to have a distinct style */
A.definition, A.definition:visited, A.definition:active {
	COLOR : #333333;
	TEXT-DECORATION : underline;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
A.definition:hover {
	COLOR : #000000;
	TEXT-DECORATION : underline;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* Gray lines around boxes and tables */
.gray-border {
	BACKGROUND-COLOR:#BDBDBD;
	FONT-SIZE : 15px;
}
/* Director's Update Background Color */
.directors-corner-contentarea {
	BACKGROUND-COLOR:#F7F7F5;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* Style for input box for Searches */
.search-field {
	COLOR:#000000;
	HEIGHT:22px;
	WIDTH:120px;
}
/* Default font for left navigation items */
.leftnav {
	FONT-SIZE:11px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* Titles for boxes, gives bold, black title with gray background color, mostly used in left navigation boxes */
.box-title, A.box-title, A.box-title:link, A.box-title:active, A.box-title:visited {
	COLOR : #000000;
	BACKGROUND-COLOR: #E6E6E2;
	FONT-WEIGHT : bold;
	TEXT-DECORATION : none;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
A.box-title:hover {
	TEXT-DECORATION : underline;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
.leftnav-shaded-box {
	list-style-type: none;
	margin: 0 0 6px 0;
	padding: 0;
	border: 1px solid #BDBDBD;
}
.leftnav-shaded-box h1 {
	margin: 0;
	padding: 3px 7px 3px 7px;
	color : #000000;
	line-height: 13px;
	font-family : Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	font-size : 12px;
	background-color : #DADADA;
	font-weight : bold;
}
.leftnav-shaded-box ul {
	list-style-type: none;
	border: 0;
	margin: 0;
}
.leftnav-shaded-box ul li {
	list-style : url(/images/spacer.gif);
	background: #EAEBE6 url(../images/left-nav-red-arrow.gif) no-repeat 7px 10px;
	font: 12px Arial, Helvetica, sans-serif;
	display: block;
	margin: 0;
	padding: 5px 5px 5px 18px;
	border-top: 1px solid #BDBDBD;
	list-style-type: none;
}
.leftnav-shaded-box ul li a:link, .leftnav-shaded-box ul li a:visited, .leftnav-shaded-box ul li a:active {
	text-decoration: none;
	color: #1a1a1a;
}
.leftnav-shaded-box ul li a:hover {
	text-decoration: underline;
}
.navigation-white, td.navigation-white, a:link.navigation-white, a:visited.navigation-white, a:active.navigation-white {
	color: #fff;
	font-size: 11px;
}
a:hover.navigation-white {
	color: #F1EFEF;
}
/* Left navigation gray text and gray links */
.navigation-gray, A.navigation-gray, A.navigation-gray:visited, A.navigation-gray:active, A.navigation-gray-link, A.navigation-gray-link:visited, A.navigation-gray-link:active {
	FONT-SIZE:15px;
	COLOR:#4d4d4d;
}
A.navigation-gray-link:hover, A.navigation-gray:hover {
	FONT-SIZE:15px;
	COLOR:#000000;
}
/* Left navigation, selected item in the anchor link sections */
.navigation-selected {
	FONT-SIZE:15px;
	COLOR:#999999;
}
/* Left navigation, non-selected item in the anchor link sections */
.navigation-dark-gray, A.navigation-dark-gray-link, A.navigation-dark-gray-link:visited, A.navigation-dark-gray-link:active {
	FONT-SIZE:15px;
	COLOR:#333333;
}
/* Looks same as Left navigation, non-selected item in the anchor link sections */
.navigation-black, A.navigation-black-link, A.navigation-black-link:visited, A.navigation-black-link:active {
	COLOR:#000000;
	font-size: 11px;
}
A.navigation-black-link:hover {
	FONT-SIZE:15px;
	COLOR:#333333;
}
A.navigation-dark-gray-link:hover {
	FONT-SIZE:15px;
	COLOR:#000000;
}
/* Left navigation, dark red links and text */
.navigation-dark-red, A.navigation-dark-red, A.navigation-dark-red:link, A.navigation-dark-red:active, A.navigation-dark-red:visited, A.navigation-dark-red-link, A.navigation-dark-red-link:visited, A.navigation-dark-red-link:active {
	FONT-SIZE:15px;
	COLOR:#993300;
}
A.navigation-dark-red-link:hover, A.navigation-dark-red:hover {
	FONT-SIZE:15px;
	COLOR:#990000;
}
/* Red Header on Portal Pages Indexes */
.red-header, A.red-header, A.red-header:visited, A.red-header:active {
	FONT-SIZE:16px;
	COLOR:#CC0000;
	FONT-WEIGHT:bold;
}
A.red-header:hover {
	FONT-SIZE:16px;
	COLOR:#990000;
	FONT-WEIGHT:bold;
}
/* Do we need link, looks almost same as default link color.  Only used on clinical trials page, bottom content */
.dark-red, A.dark-red-link, A.dark-red-link:visited, A.dark-red-link:active {
	COLOR:#993300;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
A.dark-red-link:hover {
	COLOR:#990000;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* Portal page links in main columns */
.black-text, A.black-text, A.black-text:visited, A.black-text:active {
	COLOR:#000000;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
.black-text-b {
	COLOR:#000000;
	font-weight: bold;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
A.black-text:hover {
	COLOR:#333333;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
.quote {
	COLOR : #996666;
	FONT-WEIGHT: bold;
	FONT-SIZE : 15px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
.caption, .footnote {
	FONT-SIZE:11px;
	COLOR:#4d4d4d;
	FONT-FAMILY : Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* for gray line between image and caption */
.caption-image {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #BDBDBD;
	border-top-color: #BDBDBD;
	border-right-color: #BDBDBD;
	border-left-color: #BDBDBD;
	border-color: #BDBDBD;
}
.dates {
	FONT-SIZE : 13px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* Clinical Trials Help section */
.clinicaltrialhelp-imagebox-center {
	margin: 0 auto 0 auto;
	border: 1px solid #c5c5c5;
}
.clinicaltrialhelp-caption {
	background-color:#DDD;
	display:block;
	font-size:12px;
	color:#555;
	padding: 7px;
}
.clinicaltrialhelp-image-center {display:block; margin: 10px auto 10px auto; text-align:center;}
/* end Clinical Trials Help section */

/* Test H3 with red arrows instead of image */
div.title-red-arrow h3 {
	background: url(http://www.cancer.gov/images/title-red-arrow.gif) no-repeat 1px 3px;
	margin: 0 0 3px 0;
}

div.title-red-arrow p {
	margin: 0 0 15px 0;
}

div.title-red-arrow h3 a:link, div.title-red-arrow h3 a:visited, div.title-red-arrow h3 a:active {
	color: #4f4d4d;
	font-weight: bold;
	font-size: 17px;
	font-family: Arial, 'MS Sans Serif';
	text-decoration: none;
	padding-left: 21px;
}

div.title-red-arrow h3 a:hover {
	display: block;
	color: #000;
	text-decoration: none;
}
/* end Test H3 with red arrows instead of image */

.protocol-date-label {
	FONT-SIZE : 13px;
	FONT-WEIGHT: bold;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
.protocol-dates {
	FONT-SIZE : 13px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
SUP.header {
	font-size: 16px;
	FONT-FAMILY : "Times New Roman", Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
}
/* Alpha list text in Dictionary of Cancer Terms section */
.dictionary-alpha-list, A.dictionary-alpha-list, A.dictionary-alpha-list:link, A.dictionary-alpha-list:active, A.dictionary-alpha-list:visited {
	COLOR : #A90101;
	FONT-SIZE:11px;
	padding:  6px 4px;
	FONT-FAMILY : Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	vertical-align: middle;
	height: 16px;
}
A.dictionary-alpha-list:hover {
	COLOR :  #A90101;
	FONT-SIZE:11px;
	padding: 6px 4px;
	background-color: #FFFFFF;
	FONT-FAMILY : Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	vertical-align: middle;
	height: 16px;
}
ul.wyntk li {
	margin-top:10px;
}
ul.li-margin10 li {
	margin-top:10px;
}
/* search result phrase on results page */
.search-result {
	COLOR : #646464;
	FONT-SIZE:17px;
	FONT-FAMILY : Arial, Verdana, Trebuchet MS, Tahoma, sans-serif;
	font-weight : bold;
}
.content-gray-background, .pdq-shaded-area {
	background: #F5F5F3;
	padding: 14px 12px 20px 12px;
}
.note {
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	padding: 18px 0;
}
.druginfosummarybox {
	background-color: #eff2f7;
	border: 1px solid #c9cace;
	margin: 0;
	padding: 16px;
	width: 548px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:516px;
}
/* ------------------------------------Begin RSS Feeds ----------------------------------------- */ 

.rssReader a:link, .rssReader a:visited, .rssReader a:active {
	padding:2px 0 2px 20px;
	color: #4D4D4D;
	text-decoration: none;
}
.rssReader a:hover {
	text-decoration: underline;
}
.rssReader a.google {
	background: transparent url(/images/rss-google.gif) no-repeat 0 2px;
}
.rssReader a.yahoo {
	background: transparent url(/images/rss-yahoo.gif) no-repeat 0 5px;
}
.rssReader a.myaol {
	background: transparent url(/images/rss-aol.gif) no-repeat 0 3px;
}
.rssSection {
	background: transparent url(/images/rss-feed-icon.gif) no-repeat 0 3px;
	margin-left: 2px;
	padding-bottom: 5px;
}
.rssSection a {
	padding: 0 0 2px 21px;
}
.rssSection span.rssRow {
}

.rssSection p.rssDescription {
	margin: 0 0 0 21px;
}
/* ------------------------------------End RSS Feeds ----------------------------------------- */ 

/* PROTOCOL SECTION */

/* same as page-title */
.Protocol-Title {
	COLOR : #000000;
	FONT-SIZE : 19px;
	FONT-WEIGHT : bold;
}
.Protocol-OfficialTitle {
	COLOR : #000000;
	FONT-SIZE : 19px;
	FONT-WEIGHT : bold;
	LINE-HEIGHT : 18px;
}
A.Protocol-TOC-Link, A.Protocol-TOC-Link:visited, A.Protocol-TOC-Link:active {
	COLOR : #9C3303;
}
A.Protocol-TOC-Link:hover {
	COLOR : #990000;
	TEXT-DECORATION : underline;
}
.Protocol-TOC-SubLink {
	text-decoration: none;
}
.Protocol-PatientAbstract {
}
.Protocol-Purpose {
}
.Protocol-Section-Heading {
	COLOR : #000000;
	FONT-SIZE : 16px;
	FONT-WEIGHT : bold;
}
.Protocol-Section-SubHeading {
	COLOR : #000000;
	FONT-SIZE : 16px;
	FONT-WEIGHT : bold;
}
.Protocol-PublishedResults-PUBMED {
	FONT-SIZE : 13px;
}
.Protocol-AllTrialSites, .Protocol-DownloadDate {
	FONT-WEIGHT : bold;
}
.Protocol-BasicStudy-Grayborder {
	BACKGROUND-COLOR:#BDBDBD;
}
.Protocol-LeadOrg-OrgName {
	FONT-WEIGHT : bold;
}
.Protocol-LeadOrg-PersonName {
}
.Protocol-LeadOrg-Suffix {
}
.Protocol-LeadOrg-PersonRole {
}
.Protocol-LeadOrg-Status {
}
.Protocol-LeadOrg-Phone {
}
.Protocol-LeadOrg-Email {
}
.Protocol-BasicStudy-TD-Grayborder {
	BACKGROUND-COLOR:#BDBDBD;
}
.Protocol-BasicStudy-Heading {
	FONT-WEIGHT : bold;
}
.Protocol-BasicStudy-PrimaryID {
	FONT-WEIGHT : bold;
}
.Protocol-BasicStudy-AlternateID {
	FONT-SIZE : 10px;
}
.Protocol-info-box {
	margin-top: 10px;
	border-collapse:collapse;
}
.Protocol-info-box td, .Protocol-info-box th {
	border: 1px solid #bdbdbd;
	text-align: left;
}
.Protocol-info-box td.phaseCol {
	width: 12%;
}
.Protocol-info-box td.typeCol {
	width: 18%;
}
.Protocol-info-box td.statusCol {
	width: 12%;
}
.Protocol-info-box td.ageCol {
	width: 16%;
}
.Protocol-info-box td.sponsorCol {
	width: 16%;
}
.Protocol-info-box td.protocolIDCol {
	width: 21%;
}
.Protocol-info-box .label, .Protocol-info-box-list .label {
	font-weight: bold;
	color: #000000;
}
.Protocol-Term-SubHeading {
	FONT-WEIGHT : bold;
}
.Protocol-Term-Table-Heading {
	FONT-WEIGHT : bold;
}
.Protocol-EntryCriteria-DiseaseCharacteristics, .Protocol-EntryCriteria-PatientCharacteristics, .Protocol-EntryCriteria-PriorConcurrentTherapy, .Protocol-EntryCriteria-GeneralEligibilityCriteria {
	FONT-WEIGHT : bold;
}
.Protocol-Outcomes-Primary {
	font-weight : bold;
	FONT-STYLE : italic;
}
.Protocol-ProtocolRef {
}
.Protocol-Site-PoliticalSubUnitName, .Protocol-Site-PersonName, .Protocol-Site-Suffix, .Protocol-Site-Status, .Protocol-Site-Phone, .Protocol-Site-TollFreePhone, .Protocol-Site-Email {
}
.Protocol-country, .Protocol-Site-CountryName, .Protocol-Site-Country {
	COLOR : #000000;
	LINE-HEIGHT: 18px;
	FONT-SIZE : 16px;
	FONT-WEIGHT: BOLD;
	BACKGROUND-COLOR : #E6E6E2;
}
.Protocol-state, .Protocol-Site-StateName, .Protocol-Site-State {
	COLOR : #993333;
	FONT-SIZE : 16px;
	FONT-WEIGHT: BOLD;
}
.Protocol-city, Protocol-Site-City {
	FONT-WEIGHT: BOLD;
}
/* same as header-D */
.Protocol-Site-SiteName {
	FONT-WEIGHT : bold;
	FONT-STYLE: italic;
}
.Protocol-NLMIdentifier {
}
.Protocol-Site-PersonRole {
}
.Protocol-Purpose {
	FONT-WEIGHT : bold;
}
.Protocol-EligibilityText {
	FONT-WEIGHT : bold;
}
.Protocol-TreatmentIntervention {
	FONT-WEIGHT : bold;
}
.Protocol-PatientDisclaimer {
	FONT-WEIGHT : bold;
}
.Protocol-LI-Title, .Protocol-IL-Title {
	FONT-WEIGHT : bold;
	FONT-STYLE: italic;
}
.Protocol-OL-Title {
	FONT-WEIGHT : bold;
	FONT-STYLE: italic;
}
.Protocol-LI {
	LIST-STYLE: url() disc;
}
.Protocol-IL-Bullet {
	LIST-STYLE: url() disc;
}
.Protocol-IL-Dash {
	LIST-STYLE: url() square;
}
.Protocol-IL-Circle {
	LIST-STYLE: url() none;
}
.Protocol-IL-Simple {
	LIST-STYLE: url() none;
}
.Protocol-OL-Lroman {
	LIST-STYLE: url() lower-roman;
}
.Protocol-OL-Uroman {
	LIST-STYLE: url() upper-roman;
}
.Protocol-OL-Lalpha {
	LIST-STYLE: url() lower-alpha;
}
.Protocol-OL-Ualpha {
	LIST-STYLE: url() upper-alpha;
}
.Protocol-OL-Arabic {
	LIST-STYLE: url() decimal;
}
OL.Protocol-KeyPoints-Bullet {
	LIST-STYLE-TYPE : disc;
}
OL.Protocol-KeyPoints-Dash {
	LIST-STYLE-TYPE : square;
}
LI.CDR {
	FONT-SIZE : 15px;
	LINE-HEIGHT : 16px;
	list-style-image: none;
	MARGIN-BOTTOM : 0px;
	MARGIN-LEFT : 0px;
	MARGIN-TOP : 5px;
	PADDING-LEFT : 5px;
}
A.Protocol-SummaryRef {
}
.Protocol-ScientificName {
	FONT-STYLE: italic;
}
.protocol-primaryprotocolid {
	FONT-WEIGHT : bold;
}
.protocol-alternateprotocolids {
}
.Protocol-ForeignWord {
	FONT-STYLE: italic;
}
.Protocol-GeneName {
	FONT-STYLE: italic;
}
.Protocol-Note {
	FONT-STYLE: italic;
}
.Protocol-ExternalRef {
}
/* Page header at beginning of main content area */
.page-title-summary {
	COLOR : #000000;
	FONT-SIZE : 17px;
	FONT-WEIGHT : bold;
	float: left;
	width: 100%;
}
/* same as document-title */
.Summary-Title {
	COLOR : #000000;
	FONT-SIZE : 21px;
	FONT-WEIGHT : none;
}
.Summary-SummaryTitle {
	FONT-WEIGHT : bold;
}
/* same as header-A */
LI.Summary-SummaryTitle-Level1 {
	COLOR : #000000;
	FONT-SIZE : 17px;
	FONT-WEIGHT : bold;
}
/* same as header-B */
LI.Summary-SummaryTitle-Level2 {
	COLOR : #000000;
	FONT-SIZE : 16px;
	FONT-WEIGHT : bold;
}
/* same as header-C */
LI.Summary-SummaryTitle-Level3 {
	FONT-WEIGHT : bold;
}
/* same as page-title */
.Summary-SummarySection-Title-Level1 {
	COLOR : #000000;
	FONT-SIZE : 19px;
	FONT-WEIGHT : none;
}
/* same as header-A */
.Summary-SummarySection-Title-Level2 {
	COLOR : #000000;
	FONT-SIZE : 17px;
	FONT-WEIGHT : bold;
}
/* same as header-B */
.Summary-SummarySection-Title-Level3 {
	COLOR : #000000;
	FONT-SIZE : 16px;
	FONT-WEIGHT : bold;
}
/* same as header-C */
.Summary-SummarySection-Title-Level4 {
	FONT-WEIGHT : bold;
}
.Summary-SummarySection-Keypoint-Title {
	BACKGROUND-COLOR:#D4D9D9;
	FONT-WEIGHT : bold;
	text-align: center
}
.Summary-SummarySection-Small {
	FONT-SIZE : 7pt;
}
.Summary-Table-Caption {
	COLOR : #000000;
	FONT-SIZE : 15px;
}
UL.SummarySection-KeyPoint-UL-Dash {
	LIST-STYLE-TYPE : square;
}
UL.SummarySection-KeyPoint-UL-Bullet {
	LIST-STYLE-TYPE : disc;
}
LI.SummarySection-KeyPoint-LI {
	COLOR : #000000;
	FONT-SIZE : 15px;
	LINE-HEIGHT : 16px;
	list-style-image: none;
	MARGIN-BOTTOM : 0px;
	MARGIN-LEFT : 0px;
	MARGIN-TOP : 5px;
	PADDING-LEFT : 5px;
}
.Summary-ReferenceSection {
	FONT-WEIGHT : bold;
}
.Summary-Citation-PUBMED {
	FONT-SIZE : 10px;
}
.Summary-KeyPoint {
	COLOR : #000000;
	FONT-SIZE : 15px;
	FONT-WEIGHT : bold;
}
.Summary-ProfessionalDisclaimer-Title {
	FONT-WEIGHT : bold;
}
.Summary-ProfessionalDisclaimer {
	FONT-STYLE: italic;
}
.Summary-ProtocolRef {
}
.Summary-LOERef {
}
A.Summary-GlossaryTermRef, A.Summary-GlossaryTermRef:visited, A.Summary-GlossaryTermRef:active, A.Protocol-GlossaryTermRef, A.Protocol-GlossaryTermRef:active, A.Protocol-GlossaryTermRef:visited {
	COLOR : #333333;
	TEXT-DECORATION : underline;
}
A.Summary-GlossaryTermRef:hover, A.Protocol-GlossaryTermRef:hover {
	COLOR : #000000;
	TEXT-DECORATION : underline;
}
/* END PROTOCOL SECTION */

/*********************************/
/*  END NEW CLASSES */
/*********************************/


/* Classes for old cancer.gov site, may still being used */

P.graytext {
	COLOR : #666666;
}
P.blacktext {
	COLOR : #000000;
}
P.block {
	MARGIN : 10px 20px;
}
TD.rightnav {
	FONT-SIZE : 12px;
}
TD.rightnav A {
	FONT-SIZE : 12px;
}
/* ------------------------------------ Begin Footer ----------------------------------------- */ 
A.footer {
	COLOR : #000000;
	TEXT-DECORATION : none;
}
A.footer:visited {
	COLOR : #666699;
	TEXT-DECORATION : none;
}
A.footer:hover {
	COLOR : #669999;
	TEXT-DECORATION : none;
}
A.footer-link.rsslink {
	background: url(/images/rss-feed-icon.gif) no-repeat;
	padding: 0 0 0 16px;
}
/* ------------------------------------ end Footer ----------------------------------------- */ 



A.whitetab {
	COLOR : #336;
	FONT-SIZE : 11px;
	LINE-HEIGHT : 10px;
	TEXT-DECORATION : none;
}
A.whiteslanttab {
	COLOR : #336;
	FONT-SIZE : 11px;
	FONT-STYLE : italic;
	LINE-HEIGHT : 10px;
	TEXT-DECORATION : none;
}
A.whitetab:visited {
	COLOR : #336;
	FONT-SIZE : 11px;
	LINE-HEIGHT : 10px;
	TEXT-DECORATION : none;
}
A.whiteslanttab:visited {
	COLOR : #336;
	FONT-SIZE : 11px;
	FONT-STYLE : italic;
	LINE-HEIGHT : 10px;
	TEXT-DECORATION : none;
}
A.whitetab:hover {
	COLOR : #669999;
	FONT-SIZE : 11px;
	LINE-HEIGHT : 10px;
	TEXT-DECORATION : none;
}
A.whiteslanttab:hover {
	COLOR : #669999;
	FONT-SIZE : 11px;
	FONT-STYLE : italic;
	LINE-HEIGHT : 10px;
	TEXT-DECORATION : none;
}
A.alpha {
	COLOR : #000000;
	FONT-SIZE : 13px;
	FONT-WEIGHT : bold;
	LINE-HEIGHT : 13px;
	TEXT-DECORATION : underline;
}
A.alpha:visited {
	COLOR : #666699;
	TEXT-DECORATION : underline;
}
A.alpha:hover {
	COLOR : #669999;
	TEXT-DECORATION : underline;
}
.field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
	HEIGHT : 22px;
}
.font_field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
}
.size7_field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
	HEIGHT : 22px;
	WIDTH : 69px;
}
.size10_field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
	HEIGHT : 18px;
	WIDTH : 69px;
}
.size12_field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
	HEIGHT : 22px;
	WIDTH : 100px;
}
.size14_field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
	HEIGHT : 22px;
	WIDTH : 138px;
}
.size30_field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
	HEIGHT : 22px;
	WIDTH : 180px;
}
.size30x3_field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
	HEIGHT : 60px;
	WIDTH : 180px;
}
.size40_field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
	HEIGHT : 22px;
	WIDTH : 240px;
}
.size40x3_field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
	HEIGHT : 60px;
	WIDTH : 240px;
}
.size50_field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
	HEIGHT : 22px;
	WIDTH : 300px;
}
.size50x3_field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
	HEIGHT : 60px;
	WIDTH : 300px;
}
.size60x3_field {
	COLOR : #000000;
	FONT-SIZE : 8pt;
	HEIGHT : 60px;
	WIDTH : 360px;
}
.header1 {
	COLOR : #000000;
	FONT-SIZE : 16px;
	FONT-WEIGHT : bold;
	LINE-HEIGHT : 18px;
}
H1 {
	COLOR : #000000;
	FONT-SIZE : 18px;
	FONT-WEIGHT : bold;
	LINE-HEIGHT : 18px;
}
.pressh1 {
	COLOR : #000000;
	FONT-SIZE : 17px;
	FONT-WEIGHT : bold;
	LINE-HEIGHT : 18px;
}
.header1black {
	COLOR : #000;
	FONT-SIZE : 18px;
	FONT-WEIGHT : bold;
	LINE-HEIGHT : 18px;
}
.header2 {
	COLOR : #000000;
	FONT-SIZE : 18px;
	FONT-WEIGHT : bold;
	LINE-HEIGHT : 16px;
}
H2.header2 {
	COLOR : #000000;
	FONT-SIZE : 17px;
	FONT-WEIGHT : bold;
	LINE-HEIGHT : 16px;
	margin : 4px 4px 4px 4px;
}
PRE {
	FONT-SIZE : 11px;
}
.fake_H2 {
	COLOR : #000000;
	FONT-SIZE : 15px;
	FONT-WEIGHT : bold;
	LINE-HEIGHT : 16px;
}
H1.CDR {
	COLOR : #000000;
	FONT-SIZE : 17px;
	FONT-WEIGHT : bold;
	LINE-HEIGHT : 18px;
}
H2.CDR {
	COLOR : #000000;
	FONT-SIZE : large;
	FONT-WEIGHT : bold;
	line-height:normal;
}
H3.CDR {
	COLOR : #000000;
	FONT-SIZE : medium;
	FONT-WEIGHT : bold;
}
H4.CDR {
	COLOR : #000000;
	FONT-SIZE : small;
	FONT-WEIGHT : bold;
}
H1.OESI {
	color : #000000;
	font-family : Times New Roman;
	font-size : 24pt;
	font-weight : normal;
	line-height : 1;
	margin-top: 0%;
	margin-bottom: 0%;
}
H2.OESI {
	color : #666699;
	font-family : Times New Roman;
	font-size : 14pt;
	font-variant : small-caps;
	font-weight : normal;
	line-height : 1;
	margin-top: 0%;
	margin-bottom: 0%;
}
.oesi_desc {
	line-height: 15px;
}
H1.digest {
	color : #000000;
	font-size: 16pt;
	line-height: normal;
	margin-top: 0%;
	margin-bottom: 0%;
}
.digest_header {
	color : #000000;
	font-size: 16pt;
	line-height: normal;
	margin-top: 0%;
	margin-bottom: 0%;
	font-weight: bold;
}
.header-text {
	font-size: 20px;
	color: #FFFFFF;
}
.graytext {
	COLOR : #666666;
}
.whitetext {
	color : #fff;
}
a.whitetext:link, a.whitetext:visited, a.whitetext:hover, a.whitetext:active {
	color : #fff;
}
.bigwhite {
	COLOR : #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-SIZE : 16px;
}
.blacktext {
	COLOR : #000000;
}
.toc H2 {
	COLOR : #000000;
	FONT-SIZE : 15px;
	FONT-WEIGHT : bold;
	MARGIN-BOTTOM : 3px;
	MARGIN-TOP : 0px;
}
.toc H3 {
	COLOR : #000000;
	FONT-SIZE : 14px;
	FONT-WEIGHT : bold;
	MARGIN-BOTTOM : 3px;
	MARGIN-TOP : 0px;
}
.toc H4 {
	COLOR : #000000;
	FONT-SIZE : 13px;
	FONT-WEIGHT : bold;
	MARGIN-BOTTOM : 3px;
	MARGIN-TOP : 0px;
}
.toc H5 {
	COLOR : #000000;
	FONT-SIZE : 13px;
	FONT-WEIGHT : bold;
	MARGIN-BOTTOM : 3px;
	MARGIN-TOP : 0px;
}
.toc H6 {
	COLOR : #000000;
	FONT-SIZE : 13px;
	FONT-WEIGHT : bold;
	MARGIN-BOTTOM : 3px;
	MARGIN-TOP : 0px;
}
H5 {
	COLOR : #000000;
	FONT-SIZE : 13px;
	FONT-WEIGHT : bold;
}
H6 {
	COLOR : #000000;
	FONT-SIZE : 13px;
	FONT-WEIGHT : bold;
}
LI.portal {
	LINE-HEIGHT : 11px;
	LIST-STYLE : url(/images/bullet_sm_css.gif);
	MARGIN-BOTTOM : 0px;
	MARGIN-LEFT : 0px;
	MARGIN-TOP : 5px;
	PADDING-LEFT : 0px;
}
LI.sub {
	COLOR : #000;
	FONT-SIZE : 13px;
	LINE-HEIGHT : 16px;
	LIST-STYLE : url(/images/bullet_sm_css.gif);
	MARGIN-BOTTOM : 5px;
	MARGIN-LEFT : 5px;
	MARGIN-TOP : 5px;
	PADDING-LEFT : 0px;
}
.pdq P {
	COLOR : #000000;
	padding-top : 2px;
	padding-bottom : 0px;
	margin-top : 0px;
	margin-bottom : 10px;
	FONT-SIZE : 13px;
	position : relative;
	left : 20px;
}
.pdq H2 {
	COLOR : #000000;
	FONT-SIZE : 15px;
	FONT-WEIGHT : bold;
	padding-top : 0px;
	padding-bottom : 0px;
	margin-top : 0px;
	margin-bottom : 0px;
}
.pdq H3 {
	COLOR : #000000;
	FONT-SIZE : 14px;
	FONT-WEIGHT : bold;
	padding-top : 10px;
	padding-bottom : 0px;
	margin-top : 0px;
	margin-bottom : 0px;
}
.pdq H4 {
	COLOR : #333366;
	FONT-SIZE : 13px;
	FONT-WEIGHT : bold;
	padding-top : 10px;
	padding-bottom : 0px;
	margin-top : 0px;
	margin-bottom : 0px;
	margin-left : 15px;
}
.pdq UL {
	MARGIN-BOTTOM : 5px;
	MARGIN-LEFT : 0px;
	MARGIN-TOP : 5px;
	PADDING-LEFT : 5px;
	padding-right : 40px;
	padding-top : 0px;
	padding-bottom : 5px;
	position : relative;
	left : 25px;
}
.pdq UL LI {
	LIST-STYLE-IMAGE : url(/images/bullet_sm.gif);
	MARGIN-BOTTOM : 0px;
	MARGIN-LEFT : 0px;
	MARGIN-TOP : 0px;
	PADDING-LEFT : 5px;
	padding-top : 2px;
	padding-bottom : 2px;
}
.bullet {
	text-decoration: none;
}
.livehelpbutton {
	background-image: url(/images/livehelp_button.gif);
	border-style:none;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 121px;
	height: 50px;
}
.textbutton {
	background: 99cccc;
	font-size: 11px;
	color: White;
	font: bold;
	height: 20;
}
.PUBMED {
	FONT-SIZE : 10px;
}
.oc_section_head {
	font-size: 14pt;
	font-style: normal;
	line-height: 16pt;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #996600;
	text-decoration: none;
}
.oc_content_HEAD {
	font-size: 12pt;
	font-style: normal;
	line-height: 14pt;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}
.oc_backtotop {
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #996633;
	text-decoration: underline;
	list-style-position: outside;
	list-style-image: url(/images/oc_bullet.gif);
	list-style-type: none
}
.occontent {
	COLOR : #666666;
	FONT-SIZE : 13pt;
}
.graytextCopy {
	COLOR : #666666;
	FONT-SIZE : 13px;
	list-style-position: outside;
	list-style-image: url(/images/oc_bullet.gif);
	list-style-type: none
}
.oc_list {
	COLOR : #333333;
	FONT-SIZE : 13px;
	list-style-position: outside;
	list-style-image: url(/images/oc_bullet.gif);
	list-style-type: none
}
/* END Classes for old cancer.gov site */

/* New National System Section of Clinical Trials */

A.ns-leftnav {
	COLOR : #0033cc;
	TEXT-DECORATION : none;
}
A.ns-leftnav:visited {
	COLOR : #0033cc;
	TEXT-DECORATION : none;
}
A.ns-leftnav:hover {
	COLOR : #669999;
	TEXT-DECORATION : underline;
}
.ns-section {
	COLOR : #323264;
	FONT-SIZE : 13px;
	TEXT-DECORATION : none;
	FONT-WEIGHT : bold;
}
A.ns-section {
	COLOR : #323264;
	FONT-SIZE : 13px;
	TEXT-DECORATION : underline;
	FONT-WEIGHT : bold;
}
A.ns-section:visited {
	COLOR : #323264;
	FONT-SIZE : 13px;
	TEXT-DECORATION : underline;
	FONT-WEIGHT : bold;
}
A.ns-section:hover {
	COLOR : #666666;
	FONT-SIZE : 13px;
	TEXT-DECORATION : underline;
	FONT-WEIGHT : bold;
}
.ns-headline {
	COLOR : #000000;
	FONT-SIZE : 13px;
	FONT-WEIGHT : bold;
}
.ns-title {
	COLOR : #52A3DB;
	FONT-SIZE : 18px;
	FONT-WEIGHT : none;
}
.Summary-Table-Head {
	background-color: #DCE0E0;
}
.QandA-Title {
	COLOR : #000000;
	FONT-SIZE : 17px;
	FONT-WEIGHT : bold;
}
OL.QandA-List {
	FONT-WEIGHT : bold;
}
LI.QandA-ListItem {
	FONT-WEIGHT : bold;
}
.QandA-Question {
	FONT-WEIGHT : bold;
}
.QandA-Answer {
	FONT-WEIGHT : normal;
}
/* the following are the shrunken versions of linked items inside CDR tables */

A.SummaryRef-Small, A.SummaryRef-Small:hover {
	font-size: 7pt;
}
A.Summary-ProtocolRef-Small, A.Summary-ProtocolRef-Small:hover {
	font-size: 7pt;
}
A.Summary-LOERef-Small, A.Summary-LOERef-Small:hover {
	font-size: 7pt;
}
A.Summary-GlossaryTermRef-Small, A.Summary-GlossaryTermRef-Small:visited, A.Summary-GlossaryTermRef-Small:active {
	font-size: 7pt;
	COLOR : #4d4d4d;
	TEXT-DECORATION : underline;
}
A.Summary-GlossaryTermRef-Small:hover {
	font-size: 7pt;
	COLOR : #000000;
	TEXT-DECORATION : underline;
}
.Protocol-GeneName-Small {
	font-size: 7pt;
	FONT-STYLE: italic;
}
A.Protocol-ExternalRef-Small, A.Protocol-ExternalRef-Small:hover {
	font-size: 7pt;
}
A.SummarySection-Table-Small, A.SummarySection-Table-Small:hover {
	font-size: 7pt;
}
/* end New National System Section of Clinical Trials */
.hidden {
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.skip a, .skip a:hover, .skip a:visited {
	position: absolute;
	left:-999px;
}
.skip a:active, .skip a:focus {
	display:block;
	left: 0;
	z-index:999;
	background: #fff;
	border: 1px solid #000;
	padding: 5px 5px 5px 5px;
}
ul.link-farm li {
	margin-bottom: 3px;
}
ul.link-farm li a:link, ul.link-farm li a:visited, ul.link-farm li a:hover, ul.link-farm li a:active {
	color : #4d4d4d;
	text-decoration: underline;
}
ul.link-farm ul {
	margin-top: 5px;
	margin-bottom: 5px;
}
/* ------------------ end Cancer Bulletin 2009  --------------------------------------------------------*/
.bulletin-header {
	width: 771px;
	height: 85px;
	background-image: url(/images/cancerbulletin/cancerbulletin-header-bg-new.gif);
	background-repeat: repeat-x;
	overflow: auto;
}
.bulletin-header-left {
	float: left;
}
.bulletin-header-right {
	float: right;
}
.bulletin-header a {
	color: #000000;
}
.bulletin-header-text {
	height: 21px;
	margin: 0;
	border-top: 1px solid #510000;
	background-image: url(/images/cancerbulletin/cancerbulletin-header-text-bg.gif);
	background-repeat: repeat-x;
	width: 771px;
}
.bulletin-header-date {
	float:left;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 0 0 14px;
}
.bulletin-header-bottom-right {
	float: right;
	height: 18px;
	margin: 0;
	padding: 2px 1px 0 1px;
	background: #570000;
}
.bulletin-header-bottom-right a:link, .bulletin-header-bottom-right a:visited, .bulletin-header-bottom-right a:active {
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 11px;
}
.bulletin-header-bottom-right a:hover {
	text-decoration: underline;
}
.cancer-bulletin-home-page {
	width: 742px;
	margin: 0;
	padding: 0 29px 0 0;
	text-align: left;
}
.cancer-bulletin-home-page a {
	text-decoration: none;
}
.cancer-bulletin-home-page a:hover {
	text-decoration: underline;
}
.cancer-bulletin-home-page h2 {
	margin: 0 0 10px 0;
	padding: 0;
}
.cancer-bulletin-home-page h3, .cancer-bulletin-home-page h3 a:link, .cancer-bulletin-home-page h3 a:visited, .cancer-bulletin-home-page h3 a:active {
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-decoration: none;
}
.cancer-bulletin-home-page h3 a:hover {
	text-decoration: underline;
}
.cancer-bulletin-home-page h4, .cancer-bulletin-home-page h4 a:link, .cancer-bulletin-home-page h4 a:visited, .cancer-bulletin-home-page h4 a:active {
	margin: 0;
	padding: 0;
	font-size: 12px;
	text-decoration: none;
}
.cancer-bulletin-home-page h4 a:hover {
	text-decoration: underline;
}
.cancer-bulletin-home-page-left-column {
	float: left;
	width: 433px;
	padding-right: 16px;
	margin-bottom: 20px;
}
.cancer-bulletin-home-page-right-column {
	float: right;
	width: 293px;
	margin-bottom: 20px;
}
ul.cancer-bulletin-home-page-list-item {
	padding: 2px 0 5px 0;
	margin: 0;
}
ul.cancer-bulletin-home-page-list-item li ul {
	margin: 0;
	padding: 0;
}
ul.cancer-bulletin-home-page-list-item li ul li {
	list-style-image: none;
	list-style-type: none;
	margin: 3px 0 3px 0;
	padding-left: 10px;
	background : url(/images/bullet_sm_css.gif) 0 5px no-repeat;
}
ul.cancer-bulletin-home-page-list-item-news {
	padding-top: 10px;
	border-top: 1px dotted #c9c9c9;
}
ul.cancer-bulletin-home-page-list-item li {
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	margin: 0 0 10px 0;
}
ul.cancer-bulletin-home-page-in-depth {
	padding: 0;
	margin: 0;
}
ul.cancer-bulletin-home-page-in-depth li {
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	margin: 0 0 10px 0;
	overflow: hidden; /* clear floats */
	width: 100%;  /* for IE help with clearing floats */
}
.cancer-bulletin-home-page-in-depth-image {
	float: left;
	width: 60px;
}
.cancer-bulletin-home-page-in-depth-text {
	float: right;
	width: 233px;
}
.cancer-bulletin-options-box {
	display: none;
}
.cancer-bulletin-options-box .subscribe {
	font-size: 13px;
	color: #d10202;
	font-weight: bold;
}
.cancer-bulletin-options-box form {
	margin: 5px 0;
	padding: 0;
}
.cancer-bulletin-options-box ul.options {
	padding: 0;
	margin: 0;
}
.cancer-bulletin-options-box ul.options li {
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	margin: 0 0 10px 0;
}
.cancer-bulletin-options-box ul.options li.last {
	margin: 0;
}


/*This class is used for pages without the twitter icon */
.cancer-bulletin-subscribe-field {
	font-size: 11px;
	width: 114px;
	height: 18px;
	margin-bottom: 7px;
}


/*This class is used for pages with the twitter icon */
.cancer-bulletin-subscribe-field2 {
	font-size: 11px;
	width: 180px;
}
.cancer-bulletin-home-page-info {
	padding-top: 20px;
	border-top: 1px solid #bdbdbd;
	font-size: 11px;
}
.cancer-bulletin-inside-page {
	width: 561px;
	padding-left: 0;
}
.cancer-bulletin-inside-page a:link, .cancer-bulletin-inside-page a:visited, .cancer-bulletin-inside-page a:active {
	text-decoration: none;
}
.cancer-bulletin-inside-page a:hover {
	text-decoration: underline;
}
.cancer-bulletin-inside-page h1 {
	margin: 0;
	padding: 0;
}
.cancer-bulletin-inside-page h2 {
	margin: 25px 0 20px 0;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
}
.cancer-bulletin-inside-page h3 {
	margin: 0;
	padding: 0;
	font-size: 13px;
}
.cancer-bulletin-inside-page h4 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #4d4d4d;
}
.cancer-bulletin-inside-page hr {
	color: #e0adb0;
	background-color: #e0adb0;
	border: #e0adb0;
	height: 1px;
	margin: 0;
	padding: 0;
}
.cancer-bulletin-sidebox-right {
	float: right;
	width: 200px;
	background: #edeeed;
	margin: 0 0 10px 10px;
}
.cancer-bulletin-sidebox-left {
	float: left;
	width: 200px;
	background: #edeeed;
	margin: 0 10px 10px 0;
}
.cancer-bulletin-sidebox-right h3, .cancer-bulletin-sidebox-left h3 {
	color: #ffffff;
	background: #c31e24;
	margin: 0;
	padding: 4px 12px;
}
.cancer-bulletin-sidebox-right .content, .cancer-bulletin-sidebox-left .content {
	padding: 5px 12px;
}
.cancer-bulletin-sidebox-right .content ul, .cancer-bulletin-sidebox-left .content ul {
	margin-bottom: 0;
}
.cancer-bulletin-imagebox-right {
	float: right;
	width: 200px;
	margin: 0 0 10px 10px;
}
.cancer-bulletin-imagebox-left {
	float: left;
	width: 200px;
	margin: 0 10px 10px 0;
}
.cancer-bulletin-imagebox-right .caption, .cancer-bulletin-imagebox-left .caption {
	display: block;
	color: #666;
	background: #edeeed;
	padding: 5px;
	font-size: 11px;
}
.cancerbulletin-multipage-nav {
	width: 162px;
	font-size: 11px;
}
.cancerbulletin-multipage-nav h2 {
	margin-bottom: 2px;
	margin-top: 10px;
}
.cancerbulletin-multipage-nav ul {
	padding-left: 0;
	margin: 2px 0 0 0;
}
.cancerbulletin-multipage-nav li {
	margin-left: 0;
	margin-bottom: 6px;
	list-style-type: none;
	list-style-image: none;
	font-size: 11px;
}
.cancerbulletin-multipage-nav p {
	font-size: 11px;
}
.cancerbulletin-multipage-nav a:link, .cancerbulletin-multipage-nav a:visited, .cancerbulletin-multipage-nav a:hover, .cancerbulletin-multipage-nav a:active {
	color:#000;
	font-size: 11px;
}
.cancerbulletin-multipage-nav a.red {
	color:#990000;
	font-weight:bold;
}
.cancerbulletin-multipage-nav-fb {
	margin: 0 0 6px 0;
	padding: 0;
	border: 1px solid #BDBDBD;
}
.cancerbulletin-multipage-nav-fb h1 {
	margin: 0;
	padding: 3px 7px 3px 7px;
	line-height: 13px;
	font-size : 12px;
	background-color : #DADADA;
	font-weight : bold;
}
.cancerbulletin-multipage-nav-fb p {
	margin: 0;
	padding: 5px 7px 5px 7px;
	font-size: 11px;
}
.cancerbulletin-multipage-nav-fb img {
	margin-left: 7px;
	margin-bottom: 5px;
}
.cancerbulletin-multipage-nav-as {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 12px;
}
.cancerbulletin-multipage-nav-as p {
	margin-bottom: -3px;
	margin-top: 10px;
}
/* ------------------ end Cancer Bulletin 2009 -------------------------------------------------------- */

.Summary-SummarySection-Small a.Protocol-ExternalRef, .Summary-SummarySection-Small a.Protocol-ExternalRef:hover {
	font-size : 7pt;
}


/*------------------------------------------------ Recovery Section ---------------------------------------- */

h3.recovery { color:#032b73; margin-bottom: 5px; }
h4.recovery { margin-bottom: 5px; }
p.recovery { margin-top:0; } 
.recovery-homebox { margin-top:10px; background-color:#f8f8f8;border-top: 1px solid #e5e5e5;background-color:#f8f8f8; }
.recovery-linkbox-right {float:right; margin: 10px 0 10px 10px; padding:10px;border-top: 1px solid #e5e5e5;background-color:#f8f8f8; }
.recovery-imagebox-right {float:right; margin: 0 0 10px 10px;}
.recovery-smalltext {font-size:90%; color:#666; font-style:italic;}
.recovery-border {border-top: 1px solid #e5e5e5; }
p.offscreen {position: absolute; left: -1000px; width: 1px; height: 1px; overflow: hidden;}
.recovery-caption {background-color: #edeeed; margin-top: 2px;}
p.recovery-caption {padding: 10px 10px; margin-top: 0px;}

ul.leftnav-shaded-box ul {background-color:#eaebe6; border: 0px solid orange; margin: 0; padding: 0;}
ul.leftnav-shaded-box ul li {background:url(/images/bullet_sm_css.gif) no-repeat scroll 2px 8px ;list-style-image: none; border-top:none; padding: 2px 5px 2px 10px;}
a.leftnav-shaded-box h1, a.leftnav-shaded-box:visited h1, a.leftnav-shaded-box:active h1, .leftnav-shaded-box h1 a:link, .leftnav-shaded-box h1 a:visited, .leftnav-shaded-box h1 a:active h1 {color:#1a1a1a; text-decoration:none;}
a.leftnav-shaded-box:hover h1, .leftnav-shaded-box h1 a:hover  {color:#1a1a1a; text-decoration:underline;}


.recovery-table {margin-top:10px;}
.recovery-topborder {border-top: 1px solid  #e5e5e5; background-color:#f8f8f8; }
.recovery-notable-date {font-size:90%; color:#666; font-style:italic;}
a.recovery-smalllink, a.recovery-smalllink:visited, a.recovery-smalllink:active, .recovery-smalllink a:link, .recovery-smalllink a:visited, .recovery-smalllink a:active {font-size:90%; float: right; font-style:italic;  }

#arrafaqdiv1 a, #arrafaqdiv1 a:active, #arrafaqdiv1 a:visited, #arrafaqdiv1 .red-text {color : #4d4d4d; text-decoration : none; } 
#arrafaqdiv1 a:hover { color : #4d4d4d; text-decoration : underline;}
#arrafaqdiv1 ol {margin-top: 5px;}
#arrafaqdiv1 h3{margin-bottom:0px;}
#arrafaqdiv1 li {margin-top: 2px;}
#arrafaqdiv2 ol {margin-top: 5px;}
#arrafaqdiv2 h3{margin-bottom:0px;}
#arrafaqdiv2 li {margin-top: 8px;}
#arrafaqdiv2 p {margin-top:8px; margin-bottom: 8px;}
H3.arrafaq {font-family:Arial,verdana;font-size:14px;font-weight:bold;padding:12px 0 6px 0;margin:0;color:#000000;}

/* ---------------------------------------------  End Recovery Section ---------------------------------------------- */


/* -------------------------------------- Recovery Funding Announcements page ------------------------------------ */
.arrafunding-expired-date { color: #999 }

div.arrafunding-parent {
	width: 100%;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
div.arrafunding-title, div.arrafunding-title:link, div.arrafunding-title:visited, div.arrafunding-title:active {
	outline: none;
	text-decoration: none;
	border-top: 1px solid #cfcfcf;
}
div.arrafunding-title:hover {
	background-color: #f0f0f0;
	cursor: pointer; cursor: hand;
}
table.arra-announcements {
	margin-left: 28px;
	margin-right: 28px;
	margin-top: 10px;
	margin-bottom: 10px;
}
table.arra-announcements td {
	padding: 7px;
}

table.arra-announcements ul li {
	margin-bottom: 10px;
}
/* ----------------------------------------  End Recovery Funding Announcements page --------------------------------- */

/* -------------------------------------- Social Media page ------------------------------------ */
div.social-media-dropdown {
padding: 1px 0; 
border-top: 1px solid #bdbdbd;
}
table.social-media-dropdown {
background: url(/images/social-media-bg.gif); 
height: 27px;
}
table.social-media-dropdown td.1 {
padding-left: 4px;
}
table.social-media-dropdown a:link, table.social-media-dropdown a:visited, table.social-media-dropdown a:active {
color: #000;
text-decoration: none;
}
table.social-media-dropdown a:hover {
color: #000;
text-decoration: underline;
}
div.social-media-dropdown-content {
	padding: 0 20px;
}
/* -------------------------------------- End Social Media page ------------------------------------ */

/* ------------------------------------------------  Recovery Objectives page -------------------------------------- */
.objectives-header-arra {background-image:url(/images/documents/184eb054-3d9d-44b6-935f-adb0fec30e76/arra_js_grdnt.jpg ); padding: 5px 5px ; font-weight: bold; font-size: 13px; font-family: arial;  }
ul.steps-arra {
margin: 0;
padding: 0;
border-right:
}

ul.steps-arra li {
margin: 0;
padding: 0;
background: #f2f2f2;

list-style: none;
list-style-image:none;
list-style-type:none;

}

ul.steps-arra li a:link,
ul.steps-arra li a:visited,
ul.steps-arra li a:hover,
ul.steps-arra li a:active {
color: #000;
font-family: arial;
font-size: 12px;
text-decoration: none;
}

ul.steps-arra li a.steps-arra-inactive {
background: url(/images/Documents/184eb054-3d9d-44b6-935f-adb0fec30e76/steps-arrow-off.gif) top right no-repeat #f2f2f2;  
border-bottom: 1px solid #d1d1d1;
border-right: 1px solid #d1d1d1;
padding: 17px 25px 31px 13px;
margin: 0;
display: block;
list-style: none;
}

ul.steps-arra li a.steps-arra-inactive:hover {
background: url(/images/Documents/184eb054-3d9d-44b6-935f-adb0fec30e76/steps-arrow-hover.gif) top right no-repeat #bfbfbf; 
}

.steps-arra-active {
background: url(/images/Documents/184eb054-3d9d-44b6-935f-adb0fec30e76/steps-arrow-on.gif) top right no-repeat #ffffff; 
font-weight: bold;
border-bottom: 1px solid #d1d1d1;
padding: 17px 25px 31px 13px;
margin: 0;
display: block;
list-style: none;
outline: none;
}

.hidden-arra { display: none; }
.unhidden-arra { display: block; }
/* ------------------------------------------- End Recovery Objectivees Page ---------------------------------- */

/* ------------------------------------------- B-Roll Newscenter styles ---------------------------------- */
div.brolltoolbar {
 background-color: #A90101;
 padding: 5px 0px 5px 0px;
}
.brollmenu {
	border-right: 1px solid white;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #A90101;
	padding: 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.brollmenu:visited {
	border-right: 1px solid white;
	text-decoration: none;
	color: #CDC9C9;
	background-color: #660000;
	padding: 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.brollmenu:hover {
	border-right: 1px solid white;
	text-decoration: none;
	color: #A90101;
	background-color: #5A8EC6;
	padding: 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.brollmenu:active {
	border-right: 1px solid white;
	text-decoration: none;
	color: #000000;
	background-color: #5A8EC6;
	padding: 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.brollsmalldesc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: inherit;
	color: #000000;
}
/* ------------------------------------------- End B-Roll Newscenter styles ---------------------------------- */
