@charset "utf-8";

/*
	====
		Baseline Design Elements
		
		Usage: Used to define the look and feel of the website. The default set of styles defined include colors, additional dimensions (line-height, padding, margin), other design-specific elements. This style sheet can be edited to accomodate other website specific design requirements as needed.
		
		Last Update: June 23, 2011 by Mal Jones
	====
*/


/***
	Typography and Universal Elements
***/

body {
	background-color: #f5f5f5;
	color: #4d4d4d;
	font-family: Arial, sans-serif;
	line-height: 1.6em;
}
a {
	color: #1482b5;
}
	a:hover {
		text-decoration: none;
	}
h1 {
	color: #000;
	font-size: 1.6em;
	font-weight: normal;
	line-height: 1.1em;
}
h2 {
	color: #000;
	font-size: 1.4em;
	font-weight: normal;
	padding-bottom: 18px;
}
/* Depricated Style from Migration */
.header-a {
	color: #000;
	font-size: 1.4em;
	font-weight: normal;
}
h3 {
	color: #000;
	font-size: 1.2em;
	font-weight: 900;
	padding-bottom: 18px;
}
/* Depricated Style from Migration */
.blue-header {
	color: #000;
	font-size: 1.2em;
	font-weight: 900;
	padding-bottom: 18px;
}
h4 {
	color: #000;
	font-weight: 900;
	padding-bottom: 0;
}
h5 {
	color: #000;
}
p {
	padding-bottom: 18px;
}
ul {
	list-style-type: disc;
	margin-left: 36px;
	padding-bottom: 18px;
}
	ul li {
	}
ol {
	list-style-type: decimal;
	margin-left: 36px;
	padding-bottom: 18px;
}
	ol li {
	}
blockquote {
	margin: 0 36px 0 36px;
}
b,
strong {
	font-weight: 900;
}
i,
em {
	font-style: italic;
}
dl {
}
	dl dt {
	}
	dl dd {
	}
table {
	margin-bottom: 18px;
}
	table tr {
	}
	table td {
		padding: 6px;
		vertical-align: top;		
	}

/*	Ensuring extra div.slot-items generated from CDE do not have default padding. */
.slot-item .slot-item {
	padding: 0;
}

/***
	Page Elements
***/

	/**
		Branding Bar
	**/
	#genSlotBrandingBar {
		border-right: 1px solid #bdbdbd;
		border-bottom: 1px solid #bdbdbd;
		border-left: 1px solid #bdbdbd;
		margin: 0 auto;
		width: 960px;
	}
		#genSlotBrandingBar .genSiteBrandingBarContainer ul li.nciLogo {
			margin: 0;
			padding: 0 0 0 10px;
		}
		#genSlotBrandingBar .genSiteBrandingBarContainer ul li.nciURL{
			margin: 0;
			padding: 0 10px 0 0;
		}

	/**
		General Site Container
	**/
	.genSiteContainer {
		font-size: 12px;
		padding: 0;
		width: 962px;
	}

	/**
		Site Header
	**/

	#genSlotSiteBanner {
		background-color: #fff;
		border-right: 1px solid #bdbdbd;
		border-left: 1px solid #bdbdbd;
		padding: 0;
		margin: 0;
	}

		/* Utility Container */
		.genSiteUtilityContainer {
			padding: 10px 10px 0 0;
		}
		
		/* Utility Links found in the top right */
		ol.genSiteUtilityLinks {
			font-size: 0.9em;
			margin: 0;
			padding: 0 0 8px 0;
		}
			ol.genSiteUtilityLinks li{
				margin: 0;
				padding: 0;
			}
			ol.genSiteUtilityLinks a {
				color: #4d4d4d;
			}
		
		/* Site Search */	
		form.genSiteSearchForm {
			float: right;
			padding-bottom: 12px;
		}
		
	/**
		Site Navigation
	**/

	#genSlotMainNav {
		background: #262727 url('/publishedcontent/images/images/global/cip-nav-bg.jpg') repeat-x;
		border-right: 1px solid #bdbdbd;
		border-bottom: 1px solid #5f6060;
		border-left: 1px solid #bdbdbd;
		color: #fff;
		font-weight: 900;
		margin: 0;
		padding: 0 0 0 10px;
	}	

		#genSlotMainNav a {
			color: #fff;
			padding: 12px 0; /* Needs the extra padding for IE7 and correct placement of the Flyout Menu */
			text-decoration: none;
		}

			/* Fly Out Menu */

			#genSlotMainNav ul.genSiteMainNav  li ul  {
				background-color: #252525;		
				padding: 0 9px 7px 9px;
				top: 38px; /* Correctly Positions the Fly Out Menu */		
				}
	
				#genSlotMainNav  ul.genSiteMainNav  li ul a {	
					color: #b9b9b9;
					padding: 4px 0;
				}

				#genSlotMainNav ul.genSiteMainNav  li ul li {
					border-bottom: 1px solid #b9b9b9;
					color: #b9b9b9;
				}
					#genSlotMainNav ul.genSiteMainNav  li ul li.last {
						border-bottom: 0;
					}
				#genSlotMainNav ul.genSiteMainNav  li:hover > a {
					color: #fff;
				}
				#genSlotMainNav ul.genSiteMainNav  li ul li:hover > a {					
					color: #fff;
					text-decoration: underline;
				}

				

			/* Highlight Box */

			#genSlotMainNav ul li a span {
				background-color: transparent; /* Needed for IE 7 */
				padding: 4px 7px;
			}
			#genSlotMainNav ul.genSiteMainNav  li a:hover span,
			#genSlotMainNav ul.genSiteAdditionalMainNav li  a:hover span,
			#genSlotMainNav ul.genSiteMainNav  li a.current span {
				background-color: #ebebeb;
				color: #000;
			}

				/* Removes Highlight Box from Fly Out Menus */

				#genSlotMainNav ul.genSiteMainNav li ul a span {
					padding: 0;
				}
					#genSlotMainNav ul.genSiteMainNav li ul a:hover span {
						background-color: transparent;
						color: #fff;
					}
			
	/**
		Site Content Container
	**/
	
		.genSiteContentContainer {
			background-color: #fff;
			border-right: 1px solid #bdbdbd;
			border-bottom: 1px solid #bdbdbd;
			border-left: 1px solid #bdbdbd;
			font-size: 1.1em;
			line-height: 1.4em;
			margin: 0;
			padding: 10px;
		}

		/**
			Left Column
		**/

		.genSiteLeftColumn {
			margin-right: 4%;
			width: 23%;
		}
			
		/** Section Navigation **/
		
		p.genSiteSectionParent{
			font-weight: bold;
			padding: 0px 0px 11px;
			text-transform: uppercase;
		}		
			p.genSiteSectionParent a {
				color: #000;
				text-decoration: none;
			}
				p.genSiteSectionParent a:hover {
					text-decoration: underline;
				}
			.genSiteSectionParent a:before {
				content: ">> ";
				font-size: 0.8em;
				font-weight: 900;
			}
			
	
			#genSlotSectionNav {
				padding-bottom: 0px;
			}
				#genSlotSectionNav ul.genSiteSectionNavigation {
					border-top: 1px #afafaf solid;	
					border-bottom: 1px #afafaf solid;
					margin-bottom: 18px;
				}
				#genSlotSectionNav ul.genSiteSectionNavigation ul {
					list-style-type: none;
					padding-bottom: 0;
				}
				#genSlotSectionNav ul.genSiteSectionNavigation a {
					padding-left: 24px;
				}
				#genSlotSectionNav a:hover {
					color: #1482b5;
					text-decoration: underline;
				}
			
				
				/* First Level of Section Navigation */
				
				#genSlotSectionNav ul{
					margin: 0 0 0 0;
					padding-bottom: 0;
				}		
					#genSlotSectionNav ul li {
						color: #1482b2;
						background-color:#fff;
						border-bottom: 1px dotted #afafaf;
						list-style: none;
						padding: 0;
					}
					#genSlotSectionNav ul li.last {
						border-bottom: 0;
					}
					#genSlotSectionNav ul li a {
						color: #1482b2;
						display: block;	
						text-decoration: none;
						text-indent: -10px;
						padding: 8px 10px;
					}
						#genSlotSectionNav ul li a span:before {
							content: "\2022 \0020 ";
							font-weight: 900;
						}
						#genSlotSectionNav ul li a:hover{
							color: #1482b5;
						}

				/* Current Section Identification */
		
				#genSlotSectionNav ul li.currentSection {
					background-color: #daf3ff;
					color: #000;
				}
					#genSlotSectionNav ul li.currentSection  a,
					#genSlotSectionNav ul li.currentSection  a:hover {
						color: #000;
					}
					
					/* Second Level of Section Navigation */					
					
					#genSlotSectionNav ul li ul {
						border-top: 1px dotted #afafaf;
					}
					
						#genSlotSectionNav ul li ul li {
							background-color: #f7f7f7;
							border: none;
							font-size: 0.9em;
							list-style: none;
						}
							#genSlotSectionNav ul li.currentSection ul li a {
								padding-top: 3px;
								padding-bottom: 3px;
								padding-left: 34px;
							}
								#genSlotSectionNav ul li ul li a span:before {
									content: "";
								}
							#genSlotSectionNav ul li.currentSection ul li a,
							#genSlotSectionNav ul li.currentSection ul li a:hover {
								color: #1482b5;
							}

					
					/* Current Section Identification */
						
					#genSlotSectionNav ul li.currentSection ul li.currentSection {
						background-color: #f7f7f7;
						color: #000;
					}
						#genSlotSectionNav ul li.currentSection ul li.currentSection a {
							color: #000;
						}
						#genSlotSectionNav ul li.currentSection ul li.currentSection a span:before {
							font-weight: 900;
							content: "\2022 \0020 ";
						}

						/* Third Level of Section Navigation */
						
						#genSlotSectionNav ul li.currentSection ul li.currentSection ul {
							border: none;
							font-size: 1.1em;
							margin-top: 0;
						}
							#genSlotSectionNav ul li.currentSection ul li.currentSection ul li a {
								padding-top: 3px;
								padding-bottom: 3px;
								padding-left: 48px;
							}
							#genSlotSectionNav ul li.currentSection ul li.currentSection ul li a,
							#genSlotSectionNav ul li.currentSection ul li.currentSection ul li a:hover {
								color: #1482b5;
							}
							#genSlotSectionNav ul li.currentSection ul li.currentSection ul li a span:before {
								content: "";
							}							
							
						/* Current Section Identification */
							
						#genSlotSectionNav ul li.currentSection ul li.currentSection ul li.currentSection {
							background-color: #f7f7f7;
							color: #000;
						}
							#genSlotSectionNav ul li.currentSection ul li.currentSection ul li.currentSection  a {
								color: #000;
							}		
			
			
		/**
			Main Column
		**/
		
		.genSiteMainColumn {
			background-color: #fff;
			width: 73%;
		}
	
			/* Section banner */
			#genSlotSectionBanner {
				background-color: #7bc8ec;
				color: #fff;				
			}
				#genSlotSectionBanner h1 {
					font-size: 1.75em;
					font-weight: 900;
					margin-bottom: 14px;
				}

			/* Page Title Area */
			#genSlotTitle {
				padding-bottom: 12px;
			}	
				#genSlotTitle h1,
				#genSlotTitle h2 {
					padding: 0;
				}
				#genSlotTitle h1 {
					line-height: 1.4em;
				}
				.genSiteContentColumn  #genSlotTitle h1,
				.genSiteContentColumn  #genSlotTitle h2 {
					padding: 0 0 0 0;
				}
				#genSlotTitle h1 span.genSiteRssLink {
					margin-left: 4px;
				}
					#genSlotTitle h1 span.genSiteRssLink a {
						background-image: url('/publishedcontent/images/images/icons/icon-rss-sml.gif');
						background-repeat: no-repeat;
						font-size: 0.5em;
						font-weight: normal;
						padding-left: 18px;
					}

		
		
			/**
				Content Column
			**/
			
			
			
			
			/* Page Options */
			.genSiteMainColumn #genSlotPageOptions {
				padding-bottom: 16px;
			}
				#genSlotPageOptions p.genSitePrintButton {
					font-size: 0.9em;
					padding-bottom: 0;
				}
					#genSlotPageOptions p.genSitePrintButton a {
						background-image: url('/publishedcontent/images/images/icons/icon-print-sml.gif');
						background-repeat: no-repeat;
						padding-left: 22px;
						padding-bottom: 2px;
					}
					
			
			.genSiteContentColumn {
				margin-right: 2%;
				width: 68%;
			}
			

			/**
				Right Column
			**/
			
			.genSiteRightColumn {
				width: 30%;
			}

								
			/* Additional Section Nav */
			
			#genSlotRightNav {
				margin-bottom: 18px;
			}
				#genSlotRightNav .slot-item {
					margin: 0;
					padding: 0;
				}
				#genSlotRightNav ul {
					border-top: 1px #afafaf solid;	
					border-bottom: 1px #afafaf solid;
					list-style-type: none;
					margin: 0;
					padding: 0;
				}
					#genSlotRightNav ul li {
						border-bottom: 1px #afafaf dotted;
						padding: 8px 0;
					}
					#genSlotRightNav ul li.last {
						border-bottom: 0;
					}
					#genSlotRightNav ul li a {
						margin-left: 16px;
						text-decoration: none;
					}
						#genSlotRightNav ul li a:hover {
							text-decoration: underline;
						}
					#genSlotRightNav ul li a span:before {
						content: "\2022 \0020 ";
						font-weight: 900;
					}
			
			/* Additional content container */
		
			#genSlotRightSidebar {
				
			}
			
		/**
			Miscellaneous Content
		**/

		#genSlotLeftSidebar .slot-item ,
		#genSlotRightSidebar .slot-item  {
			background-color: #ecf9ff;
			padding: 12px 14px;
		}	
		
		#genSlotLeftSidebar .slot-item h3,
		#genSlotRightSidebar .slot-item h3 {
			font-size: 1em;
			color: #000;			
			padding-bottom: 12px;
		}
		
		#genSlotLeftSidebar .slot-item ul,
		#genSlotRightSidebar .slot-item  ul {
			padding-bottom: 0;
		}

		/* Lists in a Sidebar */
		
		#genSlotLeftSidebar .genSiteList ul,
		#genSlotRightSidebar .genSiteList ul {
			list-style-type: square;
			margin: 0 0 0 18px;
			padding-bottom: 0;
		}
			#genSlotLeftSidebar .genSiteList ul li,
			#genSlotLeftSidebar .genSiteList ul li {
				line-height: 1.4em;
			}
			
		/* Content Block in a Sidebar */
		
		#genSlotRightSidebar .genContentBlock p,
		#genSlotLeftSidebar .genContentBlock p {
			padding-bottom: 12px;			
		}
			#genSlotRightSidebar .genContentBlock ul,
			#genSlotLeftSidebar	.genContentBlock ul {
				margin: 0 0 0 18px;
			}
			
	/**
		Site Footer
	**/
	
	#genSlotSiteFooter {
		color: #4d4d4d;
		padding-top: 10px;
	}
		#genSlotSiteFooter  .slot-item{
			padding-top: 0;
		}
		#genSlotSiteFooter a {
			color: #4d4d4d;
			text-decoration: none;
		}
			#genSlotSiteFooter a:hover {
				text-decoration: underline;
			}
		
/***
	===
		Content Type Template Specific Styles
	===
***/

/**
	Home page
**/

body.genHome .genSiteContentColumn {
	margin-right: 5%;
	width: 73%;
}
body.genHome .genSiteContentContainer {
	background-color: #fff;
}

body.genHome .genSiteRightColumn {
	width: 22%;
}
	body.genHome .genSiteRightColumn #genSlotRightSidebar .slot-item {
		background-color: transparent;
		padding: 0;
	}



	/**
		Column and Highlight areas used on Home page and Landing pages
	**/

	/* Two Column Area */

	.genSiteColumnContainer {
		margin: 0 0 15px 0;
	}

	/* Three Column Area (aka Highlights) */

	.genSiteHighlightContainer {
		margin: 0 0 15px 0;
	}

/**
	Landing Page
**/

body.genLanding {
}

/**
	General
**/

body.genGeneral {
}
	
	/* Related Links Area */
	
	#genSlotRelatedLinks {
		background-color: #ecf9ff;
		padding: 12px 14px 4px 14px;
	}
		#genSlotRelatedLinks h3 {
			font-size: 1em;
			padding-bottom: 12px;
		}

/**
	News Release
**/

.genNewsDates {
	font-weight: 900;
}
.genNewsMetadata {
	margin-bottom: 18px;
}

/**
	Event
**/

.genEventMetadata  {
	margin-bottom: 20px;
}
	.genEventMetadata p {
		padding-bottom: 0;
	}

/**
	Funding Opportunities
**/
li.genListItemFundingOpp  p {
	margin-left: 22px;
}

li.genListItemFundingOpp p.genListItemSource {
	font-style: italic;
	text-indent: 0;
}
li.genListItemFundingOpp h4 {
	padding-bottom: 18px;
}
	
/**
	Aggregation Widget
**/

ul.genAggroWidget {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

	/**
		Pagination used on Page Level Aggro Widgets and Search Results
	**/

	ul.genSitePagination {
		border-top: 1px dotted #AFAFAF;
		margin: 0;
		padding: 18px 0 20px 0;
	}

/**
	Lists
**/
ul.genList {
	list-style-type: none;
	margin: 0;
	padding: 0 0 8px 0;
}
	/* Title */
	ul.genList li h4 {
		font-size: 12px;
		font-weight: 900;
	}
	ul.genList li .genListItemTitle {
		font-weight: 900;
	}
	/* Descriptions */
	ul.genList li p.genListItemDesc {
		padding-bottom: 12px;
	}
	
	/* Thumbnails */
	ul.genList li p.genListItemThumbnail {
		float: left;

	}
	
	/* List Items - Video */
	
	
	
	/* List Items in the Right Sidebar */
	
	.genSiteRightColumn  #genSlotRightSidebar ul.genList  li  {
		padding-bottom: 6px;
	}
		.genSiteRightColumn  #genSlotRightSidebar ul.genList  li p {
			margin: 0;
			padding: 0;		
		}
		
		#genSlotRightSidebar ul.genList li p.genListItemThumbnail {
			margin: 2px 4px 4px 0;
		}
		
/**
	Site Wide Search
**/




	