@charset "utf-8";
/*
	====
		imaging.cancer.gov Design Elements
		
		Usage: Used to define the look and feel of the Imaging website. These elements are specific to Imaging.
		
		Last Update: June 22, 2011 by Mal Jones
	====
*/



h1.genSiteLogo{
	text-indent:-9999px;
}
	h1.genSiteLogo a {
		background-image:url(/publishedcontent/images/images/global/cip_logo.gif);
		background-position:left; 
		background-repeat:no-repeat;
		display: block;
		width: 320px; 
		height: 72px;
	}

/* Section banners */
#genSlotSectionBanner h1{
	color: #fff;
	text-align: right;
	background-repeat:no-repeat;
	background-position:top left;
	font-size: 1.8em;
	height: 31px;
	padding: 25px 15px 0px 0;
}
	h1.cip-aboutCIP{
		background-image:url(/publishedcontent/images/shareditems/sitebanner/about-cip.jpg);
	}	
	h1.cip-researchFund{
		background-image:url(/publishedcontent/images/shareditems/sitebanner/research-funding.jpg);
	}	
	h1.cip-proRes{
		background-image:url(/publishedcontent/images/shareditems/sitebanner/programs-resources.jpg);
	}	
	h1.cip-clinicalTrials{
		background-image:url(/publishedcontent/images/shareditems/sitebanner/clinical-trials.jpg);
	}	
	h1.cip-repPublications{
		background-image:url(/publishedcontent/images/shareditems/sitebanner/reports-publications.jpg);
	}	
	h1.cip-newsMeetings{
		background-image:url(/publishedcontent/images/shareditems/sitebanner/news-meetings.jpg);
	}	
	h1.cip-patientsProviders{
		background-image:url(/publishedcontent/images/shareditems/sitebanner/imaging-information.jpg);
	}