@charset "utf-8";

/*
	====
		Global Layout Elements - Print
		
		Usage: Used to define and place elements of the Website's shell for printing.
		
		Last Update: May 24, 2011 by Mal Jones
	====
*/

body {
	font-size: 62.5%;
}

/***
	National Cancer Institute Branding Bar
***/

#genSlotBrandingBar {
	display: none;
}

/***
	Site Layout
***/

.genSiteContainer {
	text-align: left;
	width: 100%
}

	/**
		Site Header
	**/
	
	#genSlotSiteBanner {
	}
		h1.genSiteLogo {
			font-size: 1.2em;
			line-height: 0.8em;
		}
		
		/* Contains Site Utility Items such as Search and other links */
		.genSiteUtilityContainer {
			display: none;
		}
	
	/**
		Site Navigation
	**/
	
	#genSlotMainNav {
		display: none;
	}
	
	/**
		Site Content Container
	**/
	
	.genSiteContentContainer {
	}
	
		/**
			Left Column
		**/
		
		.genSiteLeftColumn {
			display: none;
		}
		
		/**
			Main Column
		**/
		
		.genSiteMainColumn {
			width: 100%;
		}
			/**
				Content Column
			**/
			
			.genSiteContentColumn {
				width: 100%;
			}
		
			/**
				Right Column
			**/

			.genSiteRightColumn {
				display: none;
			}
	
	/**
		Site Footer
	**/
	
	#genSlotSiteFooter {
		display: none;
	}
/***
	===
		Misc Elements
	===
***/

.genSiteSkipToContent {
	display: none;
}

/* .clearFix is used to allow floated elements to remain properly inside of the box model. Using this is as opposed to overflow:hidden in order to ensure cross-browser compatibility and for smoother development */

.clearFix {
	zoom: 1; /* triggers hasLayout in IE */
	display: block; /* resets display for IE/Windows */
}
.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
