

/* Default unordered list style */
UL LI  {
	LIST-STYLE : url(/images/bullet_sm_css.gif);
	LIST-STYLE-TYPE : disc;
	MARGIN-LEFT : -15px;
	PADDING-LEFT : -15px;
	
}

OL LI  {
	
}

UL.Protocol-UL {
	margin-top: 5px;
	margin-bottom: 5px;
}

OL.Protocol-OL {
	margin-top: 5px;
	margin-bottom: 5px;
}
.hidden 
{
	position: absolute; 
	left: 0; 
	top: -500px; 
	width: 1px; 
	height: 1px; 
	overflow: hidden;
}