
## Draws a Single Location Item
#macro(DrawLocation $loc)
	<div itemprop="location" itemscope itemtype="http://schema.org/Place">
		<strong itemprop="name">$loc.FacilityName</strong><br>
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="addressCountry" content="$loc.PostalAddress.CountryName" />
			<span itemprop="addressLocality">$loc.PostalAddress.City</span>, 
			<span itemprop="addressRegion">$loc.PostalAddress.PoliticalSubUnitName</span>
		</span><br>

		#if ($loc.HasContact)
			Contact:
			#if (!$Tools.IsNullOrWhitespace($loc.CTGovContact.SurName))
				$loc.CTGovContact.SurName
			#else
				Name Not Available
			#end
			<br>
			#if (!$Tools.IsNullOrWhitespace($loc.CTGovContact.Phone))
			Phone: $loc.CTGovContact.Phone
			#end			

			#if (!$Tools.IsNullOrWhitespace($loc.CTGovContact.Email))
				Email: $loc.CTGovContact.Email
			#end
		#end
		<br>
		<br>
	<div>
#end

<div class="large-9 columns">
Status: $SearchResults.Trial.CurrentProtocolStatus
<div class="accordion desktop">
	<section>
	<h2>Description</h2>	
		<div>
			$SearchResults.Trial.BriefSummary
		</div>
	</section>
	<section>
	<h2>Eligibility Criteria</h2>	
		<div>
			$SearchResults.Trial.CTEntryCriteria
		</div>
	</section>
	<section>
		<h2>Locations & Contacts</h2>
		<div>
			#if ($SearchResults.Trial.GetAllSortedLocations().USA.Count > 0)
				<div>
					#foreach($state in $SearchResults.Trial.GetAllSortedLocations().USA)
					#each
							<div>
								<h3>$state.key</h3>
								#foreach($loc in $state.Value)
								#each
									#DrawLocation($loc)
								#end
							</div>
					#end
				</div>
			#end
			#if ($SearchResults.Trial.GetAllSortedLocations().Canada.Count > 0)
				<div data-filter-country="Canada">
					#foreach($state in $SearchResults.Trial.GetAllSortedLocations().Canada)
					#each
							<div>
								<h3>$state.key</h3>
								#foreach($loc in $state.Value)
								#each
									<div>
										$loc.FacilityName<br>
										$loc.PostalAddress.City, $loc.PostalAddress.PoliticalSubUnitName<br>
										<br>
										<br>
									<div>
								#end
							</div>
					#end
				</div>
			#end
			#if ($SearchResults.Trial.GetAllSortedLocations().Other.Count > 0)
				<div data-filter-country="Other">
					#foreach($state in $SearchResults.Trial.GetAllSortedLocations().Other)
					#each
							<div>
								<h3>$state.key</h3>
								#foreach($loc in $state.Value)
								#each
									<div>
										$loc.FacilityName<br>
										$loc.PostalAddress.City, $loc.PostalAddress.PoliticalSubUnitName<br>
										<br>
										<br>
									<div>
								#end
							</div>
					#end
				</div>
			#end

		</div>
	</section>

	<section>
	<h2>Trial Objectives and Outline</h2>
		<div>
			$SearchResults.Trial.DetailedDescription
		</div>
	</section>
	<section>
	<h2>Trial Phase & Type</h2>	
		<div>
			<div class="row">
				<div class="medium-6 columns">
					Trial Phase
				</div>
				<div class="medium-6 columns">
					Trial Type
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					#foreach($phase in $SearchResults.Trial.Phases)
						#each
						$phase<br>
					#end
				</div>
				<div class="medium-6 columns">
					#foreach($type in $SearchResults.Trial.TrialTypes)
						#each
						$type<br>
					#end					
				</div>
			</div>
		</div>
	</section>

	<section>
		<h2>Lead Organization</h2>
		<div>
			[SPONSOR/LEADORG HeRE]
		</div>
	</section>

	<section>
		<h2>Trial IDs</h2>
		<div>
			<strong>Primary ID</strong> $SearchResults.Trial.OrgStudyID <br>
			<strong>Secondary IDs</strong> $SearchResults.Trial.SecondaryIDList <br>
			<strong>Clinicaltrials.gov ID</strong> $SearchResults.Trial.NCTID <br>

		</div>
	</section>
</div>
Share this clinical trial with your doctor (print) (email) 
</div>
<div class="delighter-rail large-3 columns">
	<div class="delighter">
		<h4>Have a question?</h4>
		<p>We're here to help<br/>&nbsp;</p>
		<p><a href='/contact'>Chat with us: <span class="live-help-button"><img alt="LiveHelp" src="/publishedcontent/images/images/spacer.gif"></span></a></p>
		<p><a href="tel:1-800-422-2637">Call us: <span>1-800-4-CANCER</span></a></p>
		<p><a href="tel:1-800-422-2637"><span>(1-800-422-6237)</span></a></p>
	</div>
	<a href="/about-cancer/treatment/clinical-trials/taking-part">
		<div class="delighter ctp-no-decoration">
			<h4>I’ve found a trial—what’s my next step?</h4>
			<p><br/>Information to help you decide if a clinical trial is right for you.</p>
		</div>
	</a>
</div>