

From: $SearchResults.Control.SearchParams.Page <br>
Size: $SearchResults.Control.SearchParams.ItemsPerPage <br>
ZipCode: $SearchResults.Control.SearchParams.ZipCode <br>
Age: $SearchResults.Control.SearchParams.Age <br>
Gender: $SearchResults.Control.SearchParams.Gender <br>
<br>
<br>
<br>

#macro(DrawLocationInformation $trial)
	<strong>Location: </strong>
		#if ($trial.GetUSLocations().length == 1)
			#set($loc = $trial.GetUSLocations().get(0))			
			$loc.FacilityName, $loc.PostalAddress.City, $loc.PostalAddress.PoliticalSubUnitName
		#elseif ($trial.GetUSLocations().length == 0)
			No U.S. Locations
		#else
			$trial.GetUSLocations().length locations in the U.S.
		#end
	<br>
#end


## If there are no results, then we need to show a different message
<h5 id="ui-id-4">Results [Start]-[End] of $SearchResults.Results.TotalResults for your search:</h5>

<div class="cts-results-container">

#foreach($resultItem in $SearchResults.Results.Results)
	#each
		## Attach Onclick for Analytics elsewhere
		<a href="$SearchResults.Control.GetResultsUrl($resultItem.NCTID)" class="protocol-abstract-link">$resultItem.BriefTitle</a>
		<div>
			<strong>Status: </strong>$resultItem.CurrentProtocolStatus<br>
			<strong>Age: </strong>$resultItem.Eligibility.AgeText<br>
			<strong>Gender: </strong>$resultItem.Eligibility.Gender<br>
			#DrawLocationInformation($resultItem)
		</div>
	#before
	<div class="row collapse">
		<div class="medium-12 columns clinical-trial-individual-result">
	#after
		</div>
	</div>
	#nodata
	No Items
#end
</div>

## If there are results then...
<div class="ct-results-lower-control">			            
	<div class="pagination">
		## Get Curr Page

		## Shows 3 before and 3 after
		#foreach($pagerItem in $SearchResults.Control.GetPagerItems(3,3,$SearchResults.Results.TotalResults))
			#each
				#if($pagerItem.Text == $SearchResults.Control.SearchParams.Page.ToString())
					<span>$pagerItem.Text</span>
				#else
					<a href="$pagerItem.PageUrl">$pagerItem.Text</a>
				#end
			#after
				&nbsp;
		#end
	</div>
</div>
