.LeftNavSlot {
	width: 164px;
}
.LeftNavSlot .slot-item {
	margin-bottom: 6px;
}
body {
	background: #f6f6f5 url(/images/general/body-bg.gif) repeat-x;
	margin: 0;
}
.cgovContainer {
	width: 802px;
	margin: 0 auto;
	background: #fbfbfb url(/images/general/container-bg.gif) no-repeat;
}
.BodyHeaderSlot {
	margin-bottom: 6px;
}
#cgvSiteBanner {
	width: 751px;
	margin: 0 auto 10px;
	height: 106px;
	background: #e4e4e3 url(/images/general/header-bg.gif);
}
#mainContainer {
	width: 751px;
	margin: 0 auto;
}
.portalPageContentContainer {
	width: 571px;
	overflow: hidden;
}
#cgvTileSlot {
	width: 159px;
	float: right;
	margin: 0 0 10px 8px;
}
a.gray-text {
	color: #4d4d4d;
}
/* Cancer Type A to Z Box */
div.az {
	width: 162px;
	border: 1px solid #bdbdbd;
	margin-bottom: 6px;
}
div.az h3 {
	background: #3c3c3c url(/images/general/leftnav-az-header.gif) repeat-x;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	margin: 0;
	padding: 2px 5px;
	border-bottom: 1px solid #bdbdbd;
}
div.az table {
	margin: 10px;
	padding: 0;
	text-align: center;
}
div.az table td {
	padding-bottom: 5px;
}
/* End Cancer Type A to Z Box */

#slides {
	margin-bottom: 6px;
}
