.LeftNavSlot {
	width: 164px;
}
.LeftNavSlot .slot-item {
	margin-bottom: 6px;
}
/* Active Navigation State for page you are currently on */


.leftnav-shaded-box ul li {
	word-wrap: break-word;
}
.leftnav-shaded-box ul li.leftnav-on {
	font-weight: 900;
}
/* Turns off bolding on other elements in li unless  specifically declared or on a subpage. Also makes the font-size smaller to prevent longer navs. This can be removed when subsection nav does not display until you are in the subsection. */
	.leftnav-shaded-box ul li.leftnav-on ul li {
	font-size: 11px;
	font-weight: normal;
}
/* Active Navigation States when in Subsections of Microsites */

/* Bolds the Parent link to the Subsection */
.leftnav-shaded-box ul li.leftnav-open {
	font-weight: 900;
}
/* Removes bold formatting from sub li elements and reduces the font size for shorter lists. */
.leftnav-shaded-box ul li.leftnav-open ul li {
	font-size: 11px;
	font-weight: normal;
}
/* Bolds page you are currently on */
.leftnav-shaded-box ul li.leftnav-open ul li.leftnav-on {
	font-weight: 900;
}
.RightNavSlot .slot-item {
	margin-bottom: 8px;
}
.pnlDrugSearch {
	background:url(/images/drug-dictionary-search.jpg);
	width:571px;
	height:81px;
}
.pnlTermSearch label, .pnlTermSearch input, .pnlDrugSearch label, .pnlDrugSearch input {
	vertical-align:middle;
}
.pnlTermSearchLabel {
	vertical-align:middle;
}
.termForm {
	border:0px;
	margin-top:8px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding:0px;
}
.pnlTermSearch {
	background-image:url(/images/dictionary-search.jpg);
	width:571px;
	height:81px;
}
.searchboxContainer {
	float:left;
	text-align:right;
	width:306px;
	padding-right:7px;
	height:32px;
}
.searchboxStarts {
	float:left;
	width:95px;
	height:28px;
	margin-top:4px;
}
.searchboxBtn {
	float:left;
	width:70px;
	height:28px;
	margin-top:4px;
}
.searchboxSeparator {
	float:left;
	width:1px;
	height:32px;
	margin-top:-2px;
}
.searchboxContains {
	float:left;
	width:83px;
	padding-left:5px;
	height:29px;
	margin-top:3px;
}
.lblStrSearch {
	font-weight:bold;
vertical-align=middle;
}
.AutoComplete1 {
	width:157px;
	margin-left:5px;
}
.lblStrSearch {
	font-weight:bold;
}
.drugSearchboxHelp {
	float:left;
	margin-top:5px;
	margin-left:7px;
	margin-right:5px;
}
/* 6.1 Addition */
body {
	background: #f6f6f5 url(/images/general/body-bg.gif) repeat-x;
	margin: 0;
}
H3, h3, .header-A, .header-a {
	color : #000000;
	font-size : 14px;
	font-weight : bold;
	font-family : Arial, Verdana, "Trebuchet MS", Tahoma, sans-serif;
}
H4, h4, .header-B, .header-b {
	color : #000000;
	font-size : 12px;
	font-weight : bold;
	font-family : Arial, Verdana, "Trebuchet MS", Tahoma, sans-serif;
}
.header-C, .header-c {
	font-weight : bold;
	font-size : 12px;
	font-family : Arial, Verdana, "Trebuchet MS", Tahoma, sans-serif;
}
.header-D, .header-d {
	font-weight : bold;
	font-style : italic;
	font-size : 12px;
	font-family : Arial, Verdana, "Trebuchet MS", Tahoma, sans-serif;
}
#cgovContainer {
	width: 802px;
	margin: 0 auto;
	background: #fff url(/images/general/container-bg.gif) no-repeat;
}
#EmergencyAlertBanner {
	margin: 0 auto;
	width: 751px;
}
#cgvContentHeader {
	margin: 0 auto;
	width: 751px;
}
#cgvLanguageDate {
	margin: 0 auto;
	width: 751px;
}
/* NCI Banner */
#cgvSiteBanner {
	width: 751px;
	margin: 0 auto 10px;
	overflow: auto;
}
#languageToggle {
	text-align: right;
	margin: 2px 10px 4px 0;
	font-size: 11px;
}
#languageToggle a {
	font-size: 11px;
}
#NCILogo {
	float:left;
	padding: 0 399px 0 0;
	border-top: 1px solid #b2b2b2;
	background: #e4e4e3 url(/images/general/header-bg.gif) repeat-x;
}
#NCILogo a {
	outline: none;
}
#NCILogo h1 {
	display: none;
}
#NCILogo h2 {
	display: none;
}
#bannerRight {
	float:right;
	width: 300px;
	margin: 1px 0 0 -302px;
	text-align: right;
}
#questionsNumber {
	margin: 0 10px 8px 0;
}
#questionsNumber a {
	outline: none;
}
#mainSearch {

	margin-right: 10px;
	height: 24px;
}
#mainSearch form, #mainSearch input {
	margin: 0;
	padding: 0;
}
.searchString {
	height: 17px;
	width: 178px;
	vertical-align: middle;
}
.searchSubmit {
	vertical-align: middle;
}
ul.nci-main-navigation {
	margin: 0;
	padding: 0;
}
ul.nci-main-navigation li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.nci-main-navigation li a {
	outline: none;
}
/* END NCI Banner */
#mainContainer {
	width: 751px;
	margin: 0 auto;
}
#portalPageContentContainer {
	width: 571px;
	overflow: hidden;
}
.BodySlotPortal {
}
#cgvTileSlot {
	width: 159px;
	float: right;
	margin: 0 0 10px 5px;
}
a.gray-text {
	color: #4d4d4d;
}
/* Cancer Type A to Z Box */
div.az {
	width: 162px;
	border: 1px solid #bdbdbd;
	margin-bottom: 6px;
}
div.az h3 {
	background: #3c3c3c url(/images/general/leftnav-az-header.gif) repeat-x;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	margin: 0;
	padding: 2px 5px;
	border-bottom: 1px solid #bdbdbd;
}
div.az table {
	margin: 10px;
	padding: 0;
	text-align: center;
}
div.az table td {
	padding-bottom: 5px;
	width: 11%;
}
/* End Cancer Type A to Z Box */

#slides {
	margin-bottom: 6px;
}
.box-title {
	text-align: left;
}
/* NCI Footer */
#cgvSiteFooter {
	width: 751px;
	margin: 25px auto 0;
	padding: 0 0 20px 0;
	text-align: center;
}
#cgvSiteFooter ul {
	margin: 0;
	padding: 0;
}
#cgvSiteFooter ul li {
	display: inline;
	margin: 0;
	padding: 0;
}
#cgvSiteFooter ul#findHelp, #cgvSiteFooter ul#findHelpEspanol {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: #ffffe6;
	margin: 0 0 15px 0;
	padding: 10px 0;
	letter-spacing: 2px;
}
#cgvSiteFooter ul#findHelp li {
	margin: 0 45px;
}
#cgvSiteFooter ul#findHelpEspanol li {
	margin: 0 20px;
}
#cgvSiteFooter ul#footerUtilityRow1 {
	margin: 0 0 3px 0;
}
#cgvSiteFooter ul#footerUtility,
#cgvSiteFooter ul#footerUtilityRow2 {
	margin: 0 0 12px 0;
}
#cgvSiteFooter ul#footerUtility li,
#cgvSiteFooter ul#footerUtilityRow1 li,
#cgvSiteFooter ul#footerUtilityRow2 li{
	margin: 0 0 0 4px;
	padding: 0 8px 0 0;
	background: url(/images/general/footer-utility-divider.gif) bottom right no-repeat;
}
#cgvSiteFooter ul#footerUtility li a,
#cgvSiteFooter ul#footerUtilityRow1 li a, 
#cgvSiteFooter ul#footerUtilityRow2 li a,
#cgvSiteFooter ul#followUs li a {
	font-size: 11px;
}
#cgvSiteFooter ul#footerUtility li a,
#cgvSiteFooter ul#footerUtilityRow1 li a,
#cgvSiteFooter ul#footerUtilityRow2 li a{
	color: #666;
}
#cgvSiteFooter ul#footerUtility li a:hover,
#cgvSiteFooter ul#footerUtilityRow1 li a:hover,
#cgvSiteFooter ul#footerUtilityRow12li a:hover{
	color: #333;
}
#cgvSiteFooter ul#footerUtility li.last,
#cgvSiteFooter ul#footerUtilityRow1 li.last,
#cgvSiteFooter ul#footerUtilityRow2 li.last{
	background: none;
}
ul#followUs {
	display: inline;
	margin: 0 0 0 10px;
}
ul#followUs li {
	margin: 0 12px 0 0;
	padding: 2px 0 2px 20px;
}
ul#followUs li a {
	color: #666;
}
ul#followUs li a:hover {
	color: #333;
}
ul#followUs li.twitter {
	background: url(/images/general/footer-twitter.gif) left 2px no-repeat;
}
ul#followUs li.youtube {
	background: url(/images/general/footer-youtube.gif) left 2px no-repeat;
}
ul#followUs li.facebook {
	background: url(/images/general/footer-facebook.gif) left 2px no-repeat;
}
ul#followUs li.rss {
	background: url(/images/general/footer-rss.gif) left 2px no-repeat;
}
ul#agencyLinks li {
	margin: 0 6px;
}
ul#agencyLinks li a {
	outline: 0;
}
/* END NCI Footer */

.contentCenter {
	margin: 0 auto;
}
.portalPageContentHeaderImage {
	margin-bottom: 10px;
}

input.search-field {
	height: 15px;
	width: 105px;
	vertical-align:middle;
}

/* replace on nci.css from classes already existing */
.deleteList,
.deletelist {
	overflow: scroll;
	background-color: #fff;
	border: solid 1px #bdbdbd;
	margin: 5px 0px 5px 0px;
}
.deleteList p,
.deletelist p {
	margin: 5px 5px 5px 5px;
}
.deleteList ul li input,
.deletelist ul li input {
	margin-right: 3px;
	vertical-align: middle;
}
.deleteList ul li,
.deletelist ul li
{
	list-style-type: none;
	list-style-image: none;
	white-space: nowrap;
	margin-left: 0px;
}
.deleteList ul,
.deletelist ul{
	padding-left: 5px;
	margin-top: 5px;
	margin-left: 0px;
}
/* END replace on nci.css from classes already existing */
,bulletin-header {
	width: 751px; !important
	overflow: none; !important
}

/* ------------- jQuery widgets --------------------------------------------------------------------------- */
/* Home Page news/content slider */
/* overall container */
#news-slider {
	width: 569px;
	height: 256px;
	margin: 0 0 15px 0;
	padding: 0;
}
/* container for featured item */
#news-slider .ui-tabs-panel-x {
	position:relative;
	width: 565px;
	height: 186px;
	border: 0;
	margin: 2px;
}
#news-slider .ui-tabs-panel-x p,
#news-slider .ui-tabs-panel-x li,
#news-slider .ui-tabs-panel-x a
 {
	font-size: 12px;
}
#news-slider .ui-tabs-panel-x a {
	text-decoration: none;
}
#news-slider .ui-tabs-panel-x a:hover {
	text-decoration: underline;
}
.ui-tabs-panel-x p {
	margin: 4px 0;
}

table.carousel-panel-list {
	width: 90%;
	margin: 0 0 0 5px;
}
table.carousel-panel-list td {
	vertical-align: top;
	padding-right: 3px;
}
/* text in featured item */
#news-slider .ui-tabs-panel-x .ui-tabs-panel-x-text {
	position:absolute;
	top: 10px;
	left: 270px;
	padding: 0 7px 0 0;
}
#news-slider .ui-tabs-panel-x .ui-tabs-panel-x-text h2 {
	color: #333;
	margin: 0;
	font-size: 16px;
}
#news-slider .ui-tabs-panel-x .ui-tabs-panel-x-text h2 a {
	text-decoration: none;
}
#news-slider .ui-tabs-panel-x .ui-tabs-panel-x-text h2 a:hover {
	text-decoration: underline;
}
#news-slider .ui-tabs-panel-x a {
	color: #8a000a;
}
.ui-tabs-panel-x ul {
	margin: 0 0 0 10px;	padding: 0;
	background: none !important;
	list-style-type: none !important;
}
.ui-tabs-panel-x ul li {
	margin: 0; padding: 0;
	background: none !important;
	list-style-type: none !important;
}
#news-slider .ui-tabs-hide {
	display:none;
}
/* container for list items box */
#news-slider ul.news-slider-tabs {
	overflow: hidden;
	width: 100%;
	height: 66px;
	background: none;
	margin: 0;
	padding: 0;
}
#news-slider .ui-widget-header {
	border: 0;
}
/* container for individual list items */
#news-slider ul.news-slider-tabs li {
	float: left;
	width: 183px;
	height: 64px;
	list-style: none;
	list-style-type: none;
	padding: 2px 3px 0;
	margin: 0;
}
#news-slider ul.news-slider-tabs li.last {
	width: 184px;
}
/* container for individual list items, last item */
#news-slider ul.news-slider-tabs li.last {
}
#news-slider ul.news-slider-tabs .ui-state-default {
	border: 0;
	background: url(/sysimages/li-unselected.gif) top center repeat-x;
}
#news-slider ul.news-slider-tabs .ui-state-default.last {
	background: url(/sysimages/li-unselected-last.gif) top center repeat-x;
}
#news-slider ul.news-slider-tabs .ui-state-active {
	background: url(/sysimages/li-selected.gif) top center repeat-x;
}
#news-slider ul.news-slider-tabs .ui-state-active.last {
	border: 0px solid red;
	background: url(/sysimages/li-selected-last.gif) top center repeat-x;
}
#news-slider .ui-corner-top {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
}
/* container for individual list items image and text */
#news-slider li.news-slider-tabs-item a {/*On Hover Style*/
	display: block;
	height: 60px;
	margin: 0 0 0 0; padding: 0 5px 0 0;
	outline: none;
	color: #8a000a;
	font-weight: bold;
	font-size: 11px;
}
#news-slider li.news-slider-tabs-item a {/*On Hover Style*/
	margin-top: 7px;
}
/* thumbnail images in tabs */
#news-slider li.news-slider-tabs-item img {
	border: 1px solid #b7b7b7;
	margin: -6px 3px 0 0;
}
/* container for individual list items image and text on hover */
#news-slider li.news-slider-tabs-item a:hover {
}
/* container for text in individual list items */
#news-slider li.news-slider-tabs-item {
}
/* container for text in individual list items, selected */
#news-slider li.ui-tabs-selected { /*Selected tab style*/
}
/* container for text in individual list items, selected */
#news-slider ul.news-slider-tabs li.ui-tabs-selected a {
	color: #fff;
}
/* container for text in individual list items image */
#news-slider ul.news-slider-tabs li img {
}

/* END Home Page news/content slider */

/* Home Page tile slider */
/*
Slides container
Important:
Set the width of your slides container
Set to display none, prevents content flash
*/
.slides_container {
	width:160px;
	height: 68px;
	display:none;
}
img {
	border: 0;
}
/*
Each slide
Important:
Set the width of your slides
If height not specified height will be set by the slide content
Set to display block
*/
.slides_container div {
	width:159px;
	height:68px;
	display:block;
	margin-bottom: 0;
}
.slides_control {
}
/*
Optional:
Reset list default style
*/
.pagination {
	list-style:none;
	display: inline;
	margin:0;
	padding:0;
}
/*
Optional:
Show the current slide in the pagination
*/
.pagination .current a {
	color:red;
}
.next {
	outline: none;
}
.prev {
	outline: none;
}
/* END Home Page tile slider */

/* ------------- END jQuery widgets --------------------------------------------------------------------------- */