

/* Default unordered list style */
UL LI  {
	LIST-STYLE-TYPE : disc;
}

OL LI  {
	
}

UL.Protocol-UL {
}

OL.Protocol-OL {
}
.hidden 
{
position: absolute; 
left: 0; 
top: -500px; 
width: 1px; 
height: 1px; 
overflow: hidden;
}