body
{
	margin:0px;
}

/*.search_field
{
	height:15px !important;
	width:116px !important;
}*/



#drugForm
{
	border:0px;
	margin:0px;
	padding:0px;
}


.pnlDrugSearch
{
	background-image:url(/images/drug-dictionary-search.jpg);
	width:571px;
	height:81px;
}

.pnlTermSearch label,
.pnlTermSearch input,
.pnlDrugSearch label,
.pnlDrugSearch input
{
	vertical-align:middle;
}
 
.pnlTermSearchLabel
{
	vertical-align:middle;
}

.termForm
{
	border:0px;
	margin-top:8px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding:0px;
}

.pnlTermSearch
{
	background-image:url(/images/dictionary-search.jpg);
	width:571px;
	height:81px;
}
.searchboxTopRow
{
	padding-top:9px;
	padding-bottom:3px;
	vertical-align:middle;
	height:32px;
}
.searchboxTopRow:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.searchboxContainer
{
float:left;text-align:right;width:306px;padding-right:7px;height:32px;
}

.searchboxStarts
{
	float:left;width:95px;height:28px;margin-top:4px;
}

.searchboxBtn
{
	float:left;width:70px;height:28px;margin-top:4px;
}
#searchboxBottomRow
{
	margin-left:85px;width:474px;height:37px;
}
#searchboxContainer
{
	float:left;text-align:right;width:306px;padding-right:7px;height:32px;
}
#searchboxBtn
{
	float:left;width:70px;height:28px;margin-top:4px;
}
#searchboxStarts
{
	float:left;width:95px;height:29px;margin-top:3px;
}
.searchboxSeparator
{
	float:left;width:1px;height:32px;margin-top:-2px;
}
#searchboxSeparator, #searchboxSeparator2
{
	float:left;width:1px;height:32px;margin-top:-2px;
}
.searchboxContains
{
	float:left;width:83px;padding-left:5px;height:29px;margin-top:3px;
}
#searchboxContains
{
	float:left;width:83px;padding-left:5px;height:29px;margin-top:3px;
}
#drugSearchboxContainer
{
	float:left;text-align:right;width:306px;padding-right:7px;height:32px;
}
#drugSearchboxBtn
{
	float:left;width:40px;height:28px;margin-top:4px;
}
#drugSearchboxStarts
{
	float:left;width:95px;height:29px;margin-top:3px;
}
#drugSearchboxContains
{
	float:left;width:83px;padding-left:5px;height:29px;margin-top:3px;
}
.drugSearchboxHelp
{
	float:left;margin-top:5px;margin-left:7px;margin-right:5px;
}


#pnlTermSearch #AutoComplete1
{
	width:157px;
	margin-left:5px;
}
#pnlDrugSearch #AutoComplete1
{
	width:150px;
	margin-left:2px;	
}

.lblStrSearch
{
	font-weight:bold;
vertical-align=middle;
}
.AutoComplete1
{
	width:157px;
	margin-left:5px;
}
.lblStrSearch
{
	font-weight:bold;	
}
.search-control-div
{
	margin-left:75px;width:496px;height:37px;
}

.search-control-div:after 
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


.btnGo
{
	height:15px;
	width:23px;	
}
.btnBuscar
{
	height:15px;
	width:52px;	
}
#hlPatientInfo
{
	margin-left:-6px;
}


/*Definition view*/
.prevNextTerms-images
{
	width:571px;
}
.prevNextTerms-images td.col1
{
	width:124px;
}
.prevNextTerms-images td.col2
{
	width:451px;
}
.prevNextTerms-print
{
	width:630px;
}
.prevNextTerms-print td.col1
{
	width:144px;
}
.prevNextTerms-print td.col2
{
	width:490px;
}

/*These are related to the LangSwitch user control*/
.language-link
{
	float:left;
}
.language-link-last
{
	float:none;
}