/* START AUTOCOMPLETE */
.ac_field{	
	background-image:url(../images/autocomplete/autocomplete_leftcap.gif);
	background-position:right center;
	background-repeat:no-repeat;
}
.ac_field_busy{
	background-image:url(../images/autocomplete/autocomplete_spinner.gif);
	background-position:right center;
	background-repeat:no-repeat;
}

.autocomplete
{
	font-family: Arial, sans-serif;
	font-size: 10px;
	background-color:#e7e8ed;
	position: absolute;
	border:1px solid #000000;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	display: block;
	text-align:right;
	color: Black;
}

div.autocomplete
{
	font-family: Arial, sans-serif;
	font-size: 10px;
	background-color:#e7e8ed;
	position: relative;
	border:solid 1px #000000;
	border-bottom:solid 1px #000000;
	border-top:solid 1px #00000;
	border-left:solid 1px #000000;
	border-right:solid 1px #000000;
	border-right:solid 1px #000000;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	display: block;
	text-align:right;
	color: Black;
}

div.autocomplete table.ac_table
{
	display: table;
	margin: 0;
	cellpadding: 0;
	cellspacing: 0;
	background-color:white;
	border:1px solid #000000 !important;
	width: 100%;
	text-align:right;
}

div.autocomplete ul.ac_listbox
{
	margin: 0;
	padding: 0;
	/*background-color:white;*/
	/*border:1px solid #000000;*/
}

div.autocomplete ul.ac_listbox li
{
	list-style: none !important;
	list-style-image: none !important;
	list-style-type: none !important;
	color: black;
	padding: 0;
	margin: 0;
	text-align: left;
}

div.autocomplete ul.ac_listbox li a
{
	color: black;
	display: block;
	font-size: 10pt;
	text-decoration: none;
	background-color: #e7e8ed;
	position: relative;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

div.autocomplete a.ac_close
{
	color: black;
	background-color: #e7e8ed;
	font-size: 8pt;
	text-decoration:underline;
	position:relative;
	/* the negative number is needed for firefox */
	margin-right: 3px;
	margin-bottom: 2px;
	/*text-align: right;*/
	
}

div.autocomplete ul.ac_listbox li a span
{
	display: block;
	padding: 3px 6px;
	font-weight:normal;
	white-space: nowrap;
}

div.autocomplete ul.ac_listbox li.ac_highlight a
{
	color: #fff;
	background-color: #444;
	font-weight: normal;
}

div.autocomplete ul.ac_listbox li.ac_highlight em
{
	color: #fff;
	background-color: #444;
	/*font-weight: normal;*/
}

div.autocomplete ul.ac_listbox li a .tl,
div.autocomplete ul.ac_listbox li a .tr
{
	background-image: transparent;
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
}
div.autocomplete ul.ac_listbox li a .tr
{
	right: 0;
}

div.autocomplete ul.ac_listbox li.as_warning
{
	font-weight: bold;
	text-align: center;
}
div.autocomplete ul.ac_listbox em
{
	font-style: normal;
	/*color: #808080;*/
	color:Black;
	font-weight: bold;
}

div.autocomplete ul.ac_listbox li.ac_hide
{
	display: none;
}

div.autocomplete img.ac_up_active
{
	background-color: white;
	border:0;
	height:6px;
	margin: 4px;
}

div.autocomplete img.ac_down_active
{
	background-color: white;
	border:0;
	height:6px;
	margin: 4px;
}

div.autocomplete img.ac_up_inactive
{
	background-color: white;
	width: 12px;
	height: 6px;
	margin: 4px;
}

div.autocomplete img.ac_down_inactive
{
	background-color: white;
	width: 12px;
	height: 6px;
	margin: 4px;
}

div.autocomplete div.ac_images
{
	background-color: white;
}

div.autocomplete a.ac_noBorder
{
	border:0;
	background-color: white;
}

div.autocomplete div.ac_left
{
	float:left;
	background-color: white;
}
div.autocomplete div.ac_left
{
	float:left;
	background-color: white;
}
div.autocomplete div.ac_shrink
{
	font-size:1px;
	color:#fff;
	background-color: white;
}

/* END AUTOCOMPLETE */